.dark-linear-background {
    background: linear-gradient(95deg, rgb(47, 50, 74) 20%, rgb(66, 72, 103) 80%)
}

.text-white *{
    color: #fff;
}

.text-black * {
    color: #000;
}

.theme-primary-color {
    color: #18c139;
}

.theme-primary-bgcolor {
    background-color: #18c139;
    color: rgb(47, 50, 74);
}

.theme-secondary-color {
    color: rgb(47, 50, 74)    
}

.theme-secondary-bgcolor {
    background: linear-gradient(95deg, rgb(47, 50, 74) 20%, rgb(66, 72, 103) 80%);
    color: #fff;
}

.underline {
    text-decoration: underline;
}

.text-top {
    vertical-align: top;
}

.white-bg {
    background-color: #fff;
}

.absolute-center {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.title {
    width: fit-content;
    margin: auto;
    font-family: 'Pacifico', cursive;
}

.font-size-30 {
    font-size: 30px;
}

.font-size-20 {
    font-size: 20px;
}

.text-center {
    text-align: center;
}

body {
    overflow: hidden;
}

.floating-label label {
    top: 20px;
    font-size: 1em;
}

.floating-label input:focus ~ label, .floating-label input:not(:placeholder-shown) ~ label {
    color: #18c139;
    opacity: 1;
    top: 0 !important;
    font-size: .85em !important
}

.r-sm {
    border-radius: 3px;
}

.p-a-md {
    padding: 1.5rem !important;
}

.m-a {
    margin: 1rem !important;
}