{% load static %}

<!DOCTYPE html>

<div class="navside white r box-shadow-z0 m-b hover-top folded nav-dropdown" layout="column" style="height: 100%">
    <div class="navbar">
        <a class="navbar-brand">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24" height="24">
                <path d="M 4 4 L 44 4 L 44 44 Z" fill="#a88add"></path>
                <path d="M 4 4 L 34 4 L 24 24 Z" fill="rgba(0,0,0,0.15)"></path>
                <path d="M 4 4 L 24 4 L 4  44 Z" fill="#0cc2aa"></path>
            </svg><img src="{% static 'dashboard/images/a3.jpg'%}" alt="." class="hide"> <span class="hidden-folded inline v-m">Flatkit <span class="text-xs text-muted _300 block m-t-xs tagline">awesome uikit</span></span>
        </a>
    </div>
    <div flex-no-shrink="">
        <div class="nav-fold">
            <a href="#/app/page/profile" ui-sref="app.page.profile">
                <span class="pull-right m-v-sm hidden-folded">
                    <b class="label warn">9</b>
                </span> <span class="pull-left"><img src="{% static 'dashboard/images/a3.jpg'%}" alt="..." class="w-40 img-circle"></span>
                <span class="clear hidden-folded p-x">
                    <span class="block _500">{{ user.first_name }} {{ user.last_name }}</span>
                    <small class="block text-muted">{{ role }}</small>
                </span>
            </a>
        </div>
    </div>
    <div class="nav-border b-primary" flex="">
        <ul class="nav" ui-nav="">
            {% for item in aside.menu %}
            <li {% if item.name == page %}class="active"{% endif %} title="{{ item.name|title }}">
                <a href="{% url 'dashboard' user.username %}?page={{ item.name }}">
                    {% if item.label %}
                    <span class="nav-label"><b class="label rounded label-sm primary">{{ item.label }}</b></span>
                    {% endif %}
                    <span class="nav-icon"><i class="{{ item.icon }}" aria-hidden="true"></i></span>
                    <span class="nav-text">{{ item.name|title }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>   
    <div flex-no-shrink="">
        <nav ui-nav="">
            <ul class="nav">
                <li><div class="b-b b m-t-sm"></div></li>
                <li class="no-bg">
                    <a>
                        <span class="nav-icon"><i class="material-icons">power_settings_new</i></span>
                        <span class="nav-text">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>