{% load static %}

<!DOCTYPE html>

<div class="left navside indigo-900 dk" layout="column">
    <div class="navbar navbar-md no-radius">

        <!-- brand - start -->
        <a class="navbar-brand">
            <div ui-include="{% static 'dashboard/images/logo.png' %}"></div>
            <img src="{% static 'dashboard/images/logo.png' %}" alt="." class="hide">
            <span class="hidden-folded inline">Lantern Project</span>
        </a>
        <!-- brand - end -->

    </div>
    <div flex class="hide-scroll">
        <nav class="scroll nav-active-primary">
            <ul class="nav" ui-nav>

                <!-- Agent - start -->
                <li class="nav-header hidden-folded">
                    <small class="text-muted">Agent</small>
                </li>
                <!-- Agent - end -->
                <!-- Admin - start -->
                <li class="nav-header hidden-folded">
                    <small class="text-muted">Admin</small>
                </li>
                <li>
                    <a>
                        <span class="nav-caret">
                            <i class="fa fa-caret-down"></i>
                        </span>
                        <span class="nav-icon">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </span>
                        <span class="nav-text">Agents</span>
                    </a>
                    <ul class="nav-sub" style="padding-left:10px">
                        <li>
                            <span class="avatar w-24">
                                <img src="{% static 'dashboard/images/a0.jpg' %}" alt="Alex">
                            </span>
                            <a href="" style="display:inline-block; padding-left: 18px">
                                <span class="nav-text">Alex</span>
                            </a>
                        </li>
                        <li>
                            <span class="avatar w-24">
                                <img src="{% static 'dashboard/images/a3.jpg' %}" alt="Alex">
                            </span>
                            <a href="" style="display:inline-block; padding-left: 18px">
                                <span class="nav-text">Janet</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a>
                        <span class="nav-caret">
                            <i class="fa fa-caret-down"></i>
                        </span>
                        <span class="nav-icon">
                            <i class="fa fa-pie-chart" aria-hidden="true"></i>
                        </span>
                        <span class="nav-text">Charts</span>
                    </a>
                    <ul class="nav-sub">
                        <li>
                            <a href="">
                                <span class="nav-text">System</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Admin - end -->
                <!-- Staff - start -->
                <li class="nav-header hidden-folded">
                    <small class="text-muted">Staff</small>
                </li>
                <li>
                    <a>
                        <span class="nav-caret">
                            <i class="fa fa-caret-down"></i>
                        </span>
                        <span class="nav-icon">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </span>
                        <span class="nav-text">Sites</span>
                    </a>
                    <ul class="nav-sub">
                        <li>
                            <a href="">
                                <span class="nav-text">Google.com</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="nav-text">Amazon.com</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Staff - end -->
                <!-- Shared - start -->
                <li class="nav-header hidden-folded"><small class="text-muted">{{ aside.menu.0.category }}</small></li>
                {% for item in aside.menu %}
                <li {% if item.name == page %}class="active"{% endif %}>
                    <a href="{% url 'dashboard' username %}?page={{ item.name }}">
                        {% if item.label %}
                        <span class="nav-label"><b class="label rounded label-sm primary">{{ item.label }}</b></span>
                        {% endif %}
                        <span class="nav-icon"><i class="{{ item.icon }}" aria-hidden="true"></i></span>
                        <span class="nav-text">{{ item.name|title }}</span>
                    </a>
                </li>
                {% endfor %}
                <!-- Shared - end -->
            </ul>
        </nav>
    </div>
    <div flex-no-shrink="">
        <nav ui-nav="">
            <ul class="nav">
                <li>
                    <div class="b-b b m-t-sm"></div>
                </li>
                <li class="no-bg">
                    <a>
                        <span class="nav-icon">
                            <i class="fa fa-power-off" aria-hidden="true"></i>
                        </span>
                        <span class="nav-text">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>