{% load static %}
<div id="chatroom" class="padding">
    <!-- Left column - start -->
    <div class="col-md-4">
        <div class="navside white r box-shadow-z0 m-b">
            <div class="nav-stacked nav-active-primary" flex="">
                <input id="hall_key" type="hidden" value="{{ chatroom.hall_key }}" />
                <div class="box">
                    <div class="box-header">
                        <h3>Rooms</h3>
                    </div>
                    <div class="box-tool">
                        <ul class="nav">
                            <li class="nav-item inline dropdown">
                                <a class="nav-link text-muted p-x-xs" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-scale pull-right">
                                    <a class="dropdown-item" href="">New task</a>
                                    <a class="dropdown-item" href="">Make all finished</a>
                                    <a class="dropdown-item" href="">Make all unfinished</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item">Settings</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="p-a"><button class="btn btn-sm btn-block info text-u-c" v-on:click="assignRoom">Assign me a room</button></div>
                    <div class="p-a">
                        <small class="text-muted m-a-sm">Hall</small>
                        <div class="streamline b-l m-l">
                            {% for room in chatroom.open_rooms %}
                            <div class="sl-item {% if room.status == 'open' %}b-success{% elif room.status == 'closed' %}b-warning{% else %}b-warn{% endif %}">
                                <div class="sl-content" style="padding-bottom: 5px">
                                    <div class="row p-r-sm p-l-sm">
                                        <span class="sl-date text-muted pull-left">{{ room.date_opened }}</span>
                                        {% if room.status == 'open' %}
                                        <span class="label green-200 pull-right" style="text-align: end">{{ room.status }}</span>
                                        {% elif room.status == 'closed' %}
                                        <span class="label red-200 pull-right" style="text-align: end">{{ room.status }}</span>
                                        {% else %}
                                        <span class="label yellow-200 pull-right" style="text-align: end">{{ room.status }}</span>
                                        {% endif %}
                                    </div>
                                    <span style="font-size: small">Room - {{ room.id }}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Left column - end -->
    <!-- Right column - start -->
    <div class="col-md-8">
        <div class="box row-col" style="min-height:600px">
            <div class="box-header b-b">
                <strong id="chatTitle">Chat</strong>                
            </div>
            <div class="row-row dker">
                <div class="row-body">
                    <div class="row-inner">
                        <div class="p-a-md">
                            <div id="chat-log" is="Message" v-for="message in messages" v-bind:key="message.id" v-bind:_sender="message.sender" v-bind:message="message.message" v-bind:datetime="message.datetime" v-bind:id="message.id"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer b-t">
                <div class="input-group">
                    <span id="chat-app" class="input-group-btn">
                        <button class="btn btn-block info text-u-c" title="Reserved Messages" data-toggle="modal" data-target="#reservedMessagesModel" ui-toggle-class="modal-open-aside" ui-target="body">RM</button>
                    </span>
                    <input id="chat-message-input" type="text" class="form-control" placeholder="Send a message..." v-on:keyup.enter="sendMessage" v-model="message">
                    <span id="chat-app" class="input-group-btn">
                        <button id="chat-message-submit" class="btn white b-a no-shadow">SEND</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Right column - end -->    
    <!-- Reserved Messages Modal - start -->
    <div class="modal fade dark-overlay" id="reservedMessagesModel" data-backdrop="false" style="display: none;" aria-hidden="true" onclick="$(this).modal('toggle');">
        <div class="right w-xxl white b-l">
            <div class="row-col">
                <a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">×</a><div class="p-a b-b"><span class="h5">Reserved Messages</span></div><div class="row-row">
                    <div class="row-body">
                        <div class="row-inner">
                            <div class="list-group no-radius">
                                {% for message in reservedmessages.messages%}
                                <div class="list-group-item b-3x {% if message.starred %}b-l-warn{% else %}b-l-info{% endif %} container-overlay">
                                    <span class="hidden-xs label {{ message.color }} pull-right" style="vertical-align:text-top">{{ message.tag }}</span>                                    
                                    <span class="block _500" style="font-weight: bold">{{ message.title|safe|title }}</span>
                                    <span id="reservedmessage_{{ message.id }}" class="text-muted text-sm">{{ message.content|safe }}</span>
                                    <div class="overlay"><button class="btn btn-sm btn-block {% if message.starred %}warn{% else %}info{% endif %} text-u-c" v-on:click="copyToMessage('reservedmessage_{{ message.id }}')">Copy As Message</button></div>
                                </div>                                
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div><div class="p-a b-t text-center info">
                    Go to <a href="{% url 'index' user_key %}?page=reserved%20messages" class="m-h text-dark" style="font-weight: bold; text-decoration: underline">Reserved Messages</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Reserved Messages Modal - start -->
</div>