{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dashboard | Lantern Project</title>

    <!-- Metta - Start -->
    <meta name="description" content="Admin, Dashboard, Lantern-Project" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Metta - End -->
    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="{% static 'dashboard/images/logo.png' %}">
    <meta name="apple-mobile-web-app-title" content="Flatkit">

    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="{% static 'dashboard/images/logo.png' %}">

    <!-- style -->
    <link rel="stylesheet" href="{% static 'dashboard/animate-css/animate.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'dashboard/glyphicons/glyphicons.css' %}" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'dashboard/material-design-icons/material-design-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'dashboard/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'dashboard/styles/app.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/styles/font.css' %}" type="text/css" />

    <!-- VueJS 2.0 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <!-- Jdenticon -->
    <script>window.jdenticon_config = {
            lightness: {
                color: [Math.random() * (1), Math.random() * (1)],
                grayscale: [Math.random() * (1), Math.random() * (1)]
            },
            saturation: {
                color: Math.random() * (1),
                grayscale: Math.random() * (1)
            },
            backColor: "#0000"
        };</script>

    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.1.0/dist/jdenticon.min.js" integrity="sha384-VngWWnG9GS4jDgsGEUNaoRQtfBGiIKZTiXwm9KpgAeaRn6Y/1tAFiyXqSzqC8Ga/" crossorigin="anonymous" async></script>
</head>
<body>
    <!-- app - start -->
    <div id="app" class="app">

        <!-- navbar - start -->
        <div id="aside" class="app-aside modal fade md nav-expand">
            <div class="left navside indigo-900 dk" layout="column">
                <div class="navbar navbar-md no-radius">

                    <!-- brand - start -->
                    <a class="navbar-brand">
                        <div ui-include="{% static 'dashboard/images/logo.png' %}"></div>
                        <img src="{% static 'dashboard/images/logo.png' %}" alt="." class="hide">
                        <span class="hidden-folded inline">Lantern Project</span>
                    </a>
                    <!-- brand - end -->

                </div>
                <div flex class="hide-scroll">
                    <nav class="scroll nav-active-primary">
                        <ul class="nav" ui-nav>

                            <!-- Agent - start -->
                            <li class="nav-header hidden-folded">
                                <small class="text-muted">Agent</small>
                            </li>
                            <li>
                                <a href="{% url 'index' %}">
                                    <span class="nav-icon">
                                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                                    </span>
                                    <span class="nav-text">Dashboard</span>
                                </a>
                            </li>
                            <!-- Agent - end -->
                            <!-- Admin - start -->
                            <li class="nav-header hidden-folded">
                                <small class="text-muted">Admin</small>
                            </li>
                            <li>
                                <a>
                                    <span class="nav-caret">
                                        <i class="fa fa-caret-down"></i>
                                    </span>
                                    <span class="nav-icon">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                    </span>
                                    <span class="nav-text">Agents</span>
                                </a>
                                <ul class="nav-sub" style="padding-left:10px">
                                    <li>
                                        <span class="avatar w-24">
                                            <img src="{% static 'dashboard/images/a0.jpg' %}" alt="Alex">
                                        </span>
                                        <a href="{% url 'index' %}" style="display:inline-block; padding-left: 18px">
                                            <span class="nav-text">Alex</span>
                                        </a>
                                    </li>
                                    <li>
                                        <span class="avatar w-24">
                                            <img src="{% static 'dashboard/images/a3.jpg' %}" alt="Alex">
                                        </span>
                                        <a href="{% url 'index' %}" style="display:inline-block; padding-left: 18px">
                                            <span class="nav-text">Janet</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>
                                    <span class="nav-caret">
                                        <i class="fa fa-caret-down"></i>
                                    </span>
                                    <span class="nav-icon">
                                        <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                    </span>
                                    <span class="nav-text">Charts</span>
                                </a>
                                <ul class="nav-sub">
                                    <li>
                                        <a href="{% url 'index' %}">
                                            <span class="nav-text">System</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- Admin - end -->
                            <!-- Staff - start -->
                            <li class="nav-header hidden-folded">
                                <small class="text-muted">Staff</small>
                            </li>
                            <li>
                                <a>
                                    <span class="nav-caret">
                                        <i class="fa fa-caret-down"></i>
                                    </span>
                                    <span class="nav-icon">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                    </span>
                                    <span class="nav-text">Sites</span>
                                </a>
                                <ul class="nav-sub">
                                    <li>
                                        <a href="{% url 'index' %}">
                                            <span class="nav-text">Google.com</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'index' %}">
                                            <span class="nav-text">Amazon.com</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- Staff - end -->
                            <!-- Shared - start -->
                            <li class="nav-header hidden-folded">
                                <small class="text-muted">Shared</small>
                            </li>
                            <li class="active">
                                <a href="{% url 'index' %}">
                                    <span class="nav-icon">
                                        <i class="fa fa-child" aria-hidden="true"></i>
                                    </span>
                                    <span class="nav-text">Chatroom</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'index' %}">
                                    <span class="nav-label">
                                        <b class="label rounded label-sm primary">5</b>
                                    </span>
                                    <span class="nav-icon">
                                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                    </span>
                                    <span class="nav-text">Newsletter</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'index' %}">
                                    <span class="nav-icon">
                                        <i class="fa fa-user-o" aria-hidden="true"></i>
                                    </span>
                                    <span class="nav-text">Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'index' %}">
                                    <span class="nav-icon">
                                        <i class="fa fa-cogs" aria-hidden="true"></i>
                                    </span>
                                    <span class="nav-text">Settings</span>
                                </a>
                            </li>
                            <!-- Shared - end -->

                        </ul>
                    </nav>
                </div>
                <div flex-no-shrink="">
                    <nav ui-nav="">
                        <ul class="nav">
                            <li>
                                <div class="b-b b m-t-sm"></div>
                            </li>
                            <li class="no-bg">
                                <a>
                                    <span class="nav-icon">
                                        <i class="fa fa-power-off" aria-hidden="true"></i>
                                    </span>
                                    <span class="nav-text">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- navbar - end -->
        <!-- content - start -->
        <div id="content" class="app-content box-shadow-z0" role="main">
            <div class="app-header white box-shadow navbar-md">
                <div class="navbar">
                    <!-- Open side - Naviation on mobile - start -->
                    <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up">
                        <i class="material-icons">&#xe5d2;</i>
                    </a>
                    <!-- Open side - Naviation on mobile - end -->
                    <!-- Page title - start -->
                    <div class="navbar-item pull-left h5" ng-bind="$state.current.data.title" id="pageTitle"></div>
                    <!-- Page title - end -->
                    <!-- notifications - start -->
                    <ul class="nav navbar-nav pull-right">
                        <li class="nav-item dropdown pos-stc-xs">
                            <a class="nav-link" href data-toggle="dropdown">
                                <i class="material-icons">&#xe7f5;</i>
                                <span class="label label-sm up warn">3</span>
                            </a>
                            <div class="dropdown-menu pull-right w-xl animated fadeInUp no-bg no-border no-shadow">
                                <div class="scrollable" style="max-height: 220px">
                                    <ul class="list-group list-group-gap m-a-0">
                                        <li class="list-group-item dark-white lt box-shadow-z0 b">
                                            <span class="pull-left m-r"><img src="{% static 'dashboard/images/a0.jpg'%}" alt="..." class="w-40 img-circle"></span>
                                            <span class="clear block">
                                                Use awesome <a href="" class="text-primary">animate.css</a>
                                                <br><small class="text-muted">10 minutes ago</small>
                                            </span>
                                        </li>
                                        <li class="list-group-item dark-white lt box-shadow-z0 b">
                                            <span class="pull-left m-r">
                                                <img src="{% static 'dashboard/images/a1.jpg'%}" alt="..." class="w-40 img-circle">
                                            </span>
                                            <span class="clear block">
                                                <a href="" class="text-primary">Joe</a> Added you as friend<br>
                                                <small class="text-muted">2 hours ago</small>
                                            </span>
                                        </li>
                                        <li class="list-group-item dark-white text-color box-shadow-z0 b">
                                            <span class="pull-left m-r">
                                                <img src="{% static 'dashboard/images/a2.jpg'%}" alt="..." class="w-40 img-circle">
                                            </span>
                                            <span class="clear block">
                                                <a href="" class="text-primary">Danie</a> sent you a message<br>
                                                <small class="text-muted">1 day ago</small>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="" data-toggle="dropdown">
                                <span class="avatar w-32">
                                    <img src="{% static 'dashboard/images/a3.jpg'%}" alt="...">
                                    <i class="on b-white bottom"></i>
                                </span> <span class="hidden-md-down nav-text m-l-sm text-left">
                                    <span class="_500">Rose Martin</span>
                                    <small class="text-muted">Administrator</small>
                                </span>
                            </a><div class="dropdown-menu pull-right dropdown-menu-scale">
                                <a class="dropdown-item" ui-sref="app.inbox.list"><span>Inbox</span> <span class="label warn m-l-xs">3</span></a>
                                <a class="dropdown-item" ui-sref="app.page.profile"><span>Profile</span></a> <a class="dropdown-item" ui-sref="app.page.setting">
                                    <span>Settings</span> <span class="label primary m-l-xs">3/9</span>
                                </a><div class="dropdown-divider"></div>
                                <a class="dropdown-item" ui-sref="app.docs">Need help?</a> <a class="dropdown-item" ui-sref="access.signin">Sign out</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link p-l b-l" href="" data-toggle="dropdown" aria-expanded="false"><i class="material-icons"></i></a>
                            <div class="dropdown-menu dropdown-menu-scale pull-right text-color" role="menu">
                                <a class="dropdown-item" href="">Action</a>
                                <a class="dropdown-item" href="">Another action</a> <a class="dropdown-item" href="">Something else here</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="">Separated link</a>
                            </div>
                        </li>
                        <li class="nav-item hidden-md-up">
                            <a class="nav-link" data-toggle="collapse" data-target="#collapse">
                                <i class="material-icons">&#xe5d4;</i>
                            </a>
                        </li>
                    </ul>
                    <!-- notifications - end -->
                </div>
            </div>

            <!-- footer - start -->
            <div class="app-footer"><div class="p-a text-xs"><div class="text-muted" style="width:100%; text-align:center"><span>&copy; Copyright <strong><a href="#">Lantern-Project</a></strong> <span class="hidden-xs-down">- Built with ❤</span></span></div></div></div>
            <!-- footer - end -->

            <div ui-view class="app-body" id="view">
                <div class="padding">

                    <!-- Left column - start -->
                    <div class="col-md-4">
                        <div class="navside white r box-shadow-z0 m-b">
                            <div class="nav-stacked nav-active-primary" flex="">
                                <ul class="nav" ui-nav="" style="padding-bottom:10px">
                                    <li class="nav-header hidden-folded"><strong>Ongoing Sessions</strong></li>                                    
                                    <!-- Assigned sessions - start -->
                                    <li class="active">
                                        <a>
                                            <span class="nav-caret text-muted"><i class="fa fa-caret-down"></i></span>
                                            <i class="nav-label"><b id="assigned_sessions_count" class="label label-sm no-bg">{{ assigned_sessions|length }}</b></i> <span class="nav-icon">
                                                <i class="fa fa-bullseye" aria-hidden="true"></i>
                                            </span> <span class="nav-text">Assigned</span>
                                        </a><ul class="nav-sub">
                                            {% for session in assigned_sessions %}
                                            <li id="assigned_{{ session.session_key }}" @click="openChat('{{ session.session_key }}')">                                            
                                                <a style="padding-left: 1rem;">
                                                    <span class="nav-icon"><svg data-jdenticon-value="icon" style="vertical-align: middle"></svg></span>
                                                    <span class="nav-text">{{ session.session_key }}<span class="nav-caret text-muted"><i class="fa fa-caret-down"></i></span></span>
                                                </a>
                                                <ul class="nav-sub">
                                                    <li>
                                                        <a class="md-btn md-flat m-b-sm text-danger col-md-4"  style="text-align: center; padding: 0.1rem">Block</a>
                                                        <a class="md-btn md-flat m-b-sm text-accent col-md-4"  style="text-align: center; padding: 0.1rem" v-on:click="starChat('{{ session.session_key }}')">Star</a>
                                                        <a class="md-btn md-flat m-b-sm text-success col-md-4"  style="text-align: center; padding: 0.1rem" v-on:click="closeChat('{{ session.session_key }}')">Close</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% endfor %}                                            
                                        </ul>
                                    </li>
                                    <!-- Assigned sessions - end -->
                                    <!-- Starred sessions - start -->
                                    <li>
                                        <a>
                                            <span class="nav-caret text-muted"><i class="fa fa-caret-down"></i></span>
                                            <i class="nav-label"><b id="assigned_sessions_count" class="label label-sm no-bg">{{ starred_sessions|length }}</b></i> <span class="nav-icon">
                                                <i class="fa fa-bullseye" aria-hidden="true"></i>
                                            </span> <span class="nav-text">Starred</span>
                                        </a><ul class="nav-sub">
                                            {% for session in starred_sessions %}
                                            <li id="assigned_{{ session.session_key }}" @click="openChat('{{ session.session_key }}')">                                            
                                                <a style="padding-left: 1rem;">
                                                    <span class="nav-icon"><svg data-jdenticon-value="icon" style="vertical-align: middle"></svg></span>
                                                    <span class="nav-text">{{ session.session_key }}<span class="nav-caret text-muted"><i class="fa fa-caret-down"></i></span></span>
                                                </a>
                                                <ul class="nav-sub">
                                                    <li>
                                                        <a class="md-btn md-flat m-b-sm text-danger col-md-4"  style="text-align: center; padding: 0.1rem">Block</a>
                                                        <a class="md-btn md-flat m-b-sm text-accent col-md-4"  style="text-align: center; padding: 0.1rem">Star</a>
                                                        <a class="md-btn md-flat m-b-sm text-success col-md-4"  style="text-align: center; padding: 0.1rem" v-on:click="closeChat('{{ session.session_key }}')">Close</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% endfor %}                                            
                                        </ul>
                                    </li>
                                    <!-- Starred sessions - end -->
                                    <!-- All sessions - start -->
                                    <li>
                                        <a>
                                            <span class="nav-caret text-muted"><i class="fa fa-caret-down"></i></span>
                                            <i class="nav-label"><b id="open_sessions_count" class="label label-sm no-bg">{{ open_sessions|length }}</b></i> <span class="nav-icon">
                                                <i class="fa fa-podcast" aria-hidden="true"></i>
                                            </span> <span class="nav-text">All</span>
                                        </a><ul class="nav-sub">
                                            {% for session in open_sessions %}
                                            <li id="open_{{ session.session_key }}">
                                                <span class="nav-icon" style="margin-left: 10px"><svg data-jdenticon-value="icon" style="vertical-align: -webkit-baseline-middle"></svg></span>
                                                <a class="nav-text" style="padding-left: 2rem">{{ session.session_key }}<span class="nav-caret text-muted"><i class="fa fa-caret-down"></i></span></a>
                                                <ul class="nav-sub">
                                                    <li>
                                                        <a class="md-btn md-flat text-black" style="text-align: center; padding: 0px">Assign</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <!-- All sessions - end -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Left column - end -->
                    <!-- Right column - start -->
                    <div class="col-md-8">
                        <div class="box row-col" style="min-height:600px">
                            <div class="box-header b-b">
                                <i id="star" class="" aria-hidden="true" style="padding: 3px"></i>
                                <strong id="chatTitle">Chat</strong>
                            </div>
                            <div class="row-row dker">
                                <div class="row-body">
                                    <div class="row-inner">
                                        <div class="p-a-md">
                                            <div id="chat-log" is="Package" v-for="package in packages" v-bind:key="package.id" v-bind:_sender="package.sender" v-bind:message="package.message" v-bind:datetime="package.datetime" v-bind:id="package.id"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer b-t">
                                <div class="input-group">
                                    <input id="chat-message-input" type="text" class="form-control" placeholder="Send a message..." v-on:keyup.enter="sendMessage" v-model="message">
                                    <span id="chat-app" class="input-group-btn">
                                        <button id="chat-message-submit" class="btn white b-a no-shadow">SEND</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Right column - end -->
                </div>
            </div>
        </div>
        <!-- content - end -->
        <!-- app - end -->

    </div>
    <!-- app - end -->
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'dashboard/scripts/script.js' %}"></script>
    <script src="{% static 'dashboard/scripts/app/app.html.js'%}"></script>
</body>
</html>
