{% load static %}
<div id="chatroom" class="padding">
    <!-- Left column - start -->
    <div class="col-md-4">
        <div class="navside white r box-shadow-z0 m-b">
            <div class="nav-stacked nav-active-primary" flex="">
                <ul class="nav" ui-nav="" style="padding-bottom:10px">
                    <li class="nav-header hidden-folded"><strong>Ongoing Rooms</strong></li>
                    <!-- Assigned rooms - start -->
                    <li class="active">
                        <a>
                            <span class="nav-caret text-muted"><i class="fa fa-caret-down"></i></span>
                            <i class="nav-label"><b id="assigned_rooms_count" class="label label-sm no-bg">{{ chatroom.assigned_rooms|length }}</b></i> <span class="nav-icon">
                                <i class="fa fa-bullseye" aria-hidden="true"></i>
                            </span> <span class="nav-text">Assigned</span>
                        </a><ul id="assigned_rooms" class="nav-sub">
                            {% for room in chatroom.assigned_rooms %}
                            <li id="assigned_{{ room.room_key }}" @click="openChat('{{ room.room_key }}')">
                                <a style="padding-left: 1rem;">
                                    <span class="nav-icon"><svg data-jdenticon-value="icon" style="vertical-align: middle"></svg></span>
                                    <span class="nav-text">{{ room.room_key }}<span class="nav-caret text-muted"><i class="fa fa-caret-down"></i></span></span>
                                </a>
                                <ul class="nav-sub">
                                    <li>
                                        <a class="md-btn md-flat m-b-sm text-danger col-md-4" style="text-align: center; padding: 0.1rem">Block</a>
                                        <a class="md-btn md-flat m-b-sm text-accent col-md-4" style="text-align: center; padding: 0.1rem" v-on:click="starChat('{{ room.room_key }}')">Star</a>
                                        <a class="md-btn md-flat m-b-sm text-success col-md-4" style="text-align: center; padding: 0.1rem" v-on:click="closeChat('{{ room.room_key }}')">Close</a>
                                    </li>
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <!-- Assigned rooms - end -->                    
                    <!-- All rooms - start -->
                    <li>
                        <a>
                            <span class="nav-caret text-muted"><i class="fa fa-caret-down"></i></span>
                            <i class="nav-label"><b id="open_rooms_count" class="label label-sm no-bg">{{ chatroom.open_rooms|length }}</b></i> <span class="nav-icon">
                                <i class="fa fa-podcast" aria-hidden="true"></i>
                            </span> <span class="nav-text">All</span>
                        </a><ul id="open_rooms" class="nav-sub">
                            {% for room in chatroom.open_rooms %}
                            <li id="open_{{ room.room_key }}">
                                <span class="nav-icon" style="margin-left: 10px"><svg data-jdenticon-value="icon" style="vertical-align: -webkit-baseline-middle"></svg></span>
                                <a class="nav-text" style="padding-left: 2rem">{{ room.room_key }}<span class="nav-caret text-muted"><i class="fa fa-caret-down"></i></span></a>
                                <ul class="nav-sub">
                                    <li><a class="md-btn md-flat text-black" style="text-align: center; padding: 0px">Assign</a></li>
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <!-- All rooms - end -->
                </ul>
            </div>
        </div>
    </div>
    <!-- Left column - end -->
    <!-- Right column - start -->
    <div class="col-md-8">
        <div class="box row-col" style="min-height:600px">
            <div class="box-header b-b">
                <strong id="chatTitle">Chat</strong>
            </div>
            <div class="row-row dker">
                <div class="row-body">
                    <div class="row-inner">
                        <div class="p-a-md">
                            <div id="chat-log" is="Package" v-for="package in packages" v-bind:key="package.id" v-bind:_sender="package.sender" v-bind:message="package.message" v-bind:datetime="package.datetime" v-bind:id="package.id"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer b-t">
                <div class="input-group">
                    <input id="chat-message-input" type="text" class="form-control" placeholder="Send a message..." v-on:keyup.enter="sendMessage" v-model="message">
                    <span id="chat-app" class="input-group-btn">
                        <button id="chat-message-submit" class="btn white b-a no-shadow">SEND</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Right column - end -->
</div>