{% load static %}

<!DOCTYPE html>

<div class="navbar">
    <!-- Open side - Naviation on mobile - start -->
    <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up">
        <i class="material-icons">&#xe5d2;</i>
    </a>
    <!-- Open side - Naviation on mobile - end -->
    <!-- Page title - start -->
    <div class="navbar-item pull-left h5" ng-bind="$state.current.data.title" id="pageTitle"></div>
    <!-- Page title - end -->
    <!-- notifications - start -->
    <ul class="nav navbar-nav pull-right">
        <li class="nav-item dropdown pos-stc-xs">
            <a class="nav-link" href data-toggle="dropdown">
                <i class="material-icons">&#xe7f5;</i>
                {% if aside.notifications|length > 0 %}
                <span class="label label-sm up info">{{ aside.notifications|length }}</span>
                {% endif %}
            </a>
            <div class="dropdown-menu pull-right w-xl animated fadeInUp no-bg no-border no-shadow">
                <div class="scrollable" style="max-height: 220px">
                    <ul class="list-group list-group-gap m-a-0">
                        {% for notification in aside.notifications %}
                            <li class="list-group-item dark-white lt box-shadow-z0 b">
                                {% if notification.type == 'announcement'%}
                                <i class="fa fa-bullhorn text-md pull-left w-40 m-r rounded info" aria-hidden="true"></i>
                                {% elif notification.type == 'maintenance' %}
                                <i class="fa fa-wrench text-md pull-left w-40 m-r rounded warn" aria-hidden="true"></i>
                                {% elif notification.type == 'update' %}
                                <i class="fa fa-certificate text-md pull-left w-40 m-r rounded success" aria-hidden="true"></i>
                                {% endif %}
                                <a href="{% url 'index' user_key %}?page=newsletter" class="clear block">
                                    <b>{{ notification.title }}</b>
                                    <br><small class="text-muted">{{ notification.date_published|date:'Y-m-d H:i' }}</small>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="" data-toggle="dropdown">
                <span class="avatar w-32">
                    <img src="{% static 'dashboard/images/a3.jpg'%}" alt="...">
                    <i class="on b-white bottom"></i>
                </span> <span class="hidden-md-down nav-text m-l-sm text-left">
                    <span class="_500">{{ header.username }}</span>
                    <small class="text-muted">{{ header.role|title }}</small>
                </span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link p-l b-l" href="" data-toggle="dropdown" aria-expanded="false"><i class="material-icons"></i></a>
            <div class="dropdown-menu dropdown-menu-scale pull-right text-color" role="menu">
                <a class="dropdown-item" href="">Action</a>
                <a class="dropdown-item" href="">Another action</a>
                <a class="dropdown-item" href="">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="">Separated link</a>
            </div>
        </li>
        <li class="nav-item hidden-md-up">
            <a class="nav-link" data-toggle="collapse" data-target="#collapse">
                <i class="material-icons">&#xe5d4;</i>
            </a>
        </li>
    </ul>
    <!-- notifications - end -->
</div>