{% load static %}

<!DOCTYPE html>

<div class="padding">
    <div class="row">
        <div class="col-xs-9 col-sm-12 col-md-9">
            <!-- Card - start -->
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="box">
                    <div class="item">
                        <div class="item-bg">
                            <img src="{% static 'dashboard/images/a3.jpg'%}" class="blur">
                        </div>
                        <div class="p-a-lg pos-rlt text-center">
                            <img src="{% static 'dashboard/images/a3.jpg'%}" class="img-circle w-56" style="margin-bottom: -7rem">
                        </div>
                    </div>
                    <div class="p-a text-center">
                        <a href="" class="text-md m-t block">{{ user.first_name }} {{ user.last_name }}</a>
                        {% if role == 'staff' %}
                        <small class="label indigo">{{ role|title }}</small>
                        {% elif role == 'admin' %}
                        <small class="label light-blue">{{ role|title }}</small>
                        {% else %}
                        <small class="label teal">{{ role|title }}</small>
                        {% endif %}
                        <small class="label orage">{{ user.site.host|title }}</small>
                        <div class="row no-gutter b-t m-t">
                            <div class="col-xs-4 b-r">
                                <a class="p-a block text-center" ui-toggle-class="">
                                    <i class="fa fa-power-off" aria-hidden="true"></i>
                                    <span class="block">Logout</span>
                                </a>
                            </div>
                            <div class="col-xs-4 b-r">
                                <a class="p-a block text-center" href="{% url 'dashboard' profile %}?page=profile">
                                    <i class="fa fa-user-o" aria-hidden="true"></i>
                                    <span class="block">Profile</span>
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a class="p-a block text-center" ui-toggle-class="">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    <span class="block">Lockout</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card - end -->
            <!-- Card - start -->
            {% comment %} <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="box indigo-900 lt">
                    <div class="box-header b-b">
                        <h2>Latest Tweets</h2>
                    </div>
                    <ul class="list">
                        <li class="list-item">
                            <div class="list-body">
                                <p>Wellcome <a href="" class="text-info">@Drew Wllon</a> and play this web application template, have fun1 </p>
                                <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</small>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-body">
                                <p>Morbi nec <a href="" class="text-info">@Jonathan George</a> nunc condimentum ipsum dolor sit amet, consectetur</p>
                                <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 1 hour ago</small>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-body">
                                <p><a href="" class="text-info">@Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam</p>
                                <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</small>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> {% endcomment %}
            <!-- Card - end -->
        </div>
    </div>
</div>