{% load static %}

<!DOCTYPE html>

<div class="dker">
    <div class="tab-content tab-alt">
        <div class="tab-pane fade in active" id="world">
            <div class="padding">
                <div class="row-col">
                    <div class="col-xs-4 v-m">
                        <h1 class="_800 l-s-n-4x inline m-r-sm">5,600</h1>
                        <span class="inline l-h-1x">
                            Markets <br>
                            <small class="text-muted">From africa to asia</small>
                        </span>
                    </div>
                    <div class="col-xs-4 v-m">
                        <h1 class="_800 l-s-n-4x inline m-r-sm text-primary">31,000</h1>
                        <span class="inline l-h-1x">
                            Employees  <br>
                            <small class="text-muted">From 16 countries</small>
                        </span>
                    </div>
                    <div class="col-xs-4 v-m">
                        <h1 class="_800 l-s-n-4x text-white text-shadow inline m-r-sm">4,300</h1>
                        <span class="inline l-h-1x">
                            Suppliers  <br>
                            <small class="text-muted">From Nike to PE</small>
                        </span>
                    </div>
                </div>
            </div>
            <div style="height: 62vh" ui-jp="vectorMap" ui-options="{
        map: 'world_mill_en',
        markers: [{latLng: [52.5167, 13.3833], name: &#x27;Berlin&#x27;}, {latLng: [48.8567, 2.3508], name: &#x27;Paris&#x27;}, {latLng: [35.6833, 139.6833], name: &#x27;Tokyo&#x27;}, {latLng: [40.7127, -74.0059], name: &#x27;New York City&#x27;},{latLng: [49.2827, -123.1207], name: &#x27;City of Vancouver&#x27;},{latLng: [22.2783, 114.1747], name: &#x27;Hong Kong&#x27;},{latLng: [55.7500, 37.6167], name: &#x27;Moscow&#x27;},{latLng: [37.7833, -122.4167], name: &#x27;San Francisco&#x27;},{latLng: [39.9167, 116.3833], name: &#x27;Beijing&#x27;}],
        normalizeFunction: 'polynomial',
        backgroundColor: 'transparent',
        regionsSelectable: true,
        markersSelectable: true,
        regionStyle: {
          initial: {
            fill: 'rgba(120,130,140,0.2)'
          },
          hover: {
            fill: '#a88add',
            stroke: '#fff'
          },
        },
        markerStyle: {
          initial: {
            fill: 'rgba(0,0,0,0.1)',
            stroke: '#fff'
          },
          hover: {
            fill: '#0cc2aa',
            stroke: '#fff'
          }
        },
        series: {
          markers: [{
            attribute: 'fill',
            scale: ['#0cc2aa','#a88add', '#fcc100'],
            values: [ 605.16, 310.69, 405.17, 748.31, 207.35, 217.22, 137.70, 280.71, 210.32, 325.42 ]
          },{
            attribute: 'r',
            scale: [5, 20],
            values: [ 605.16, 310.69, 405.17, 748.31, 207.35, 217.22, 137.70, 280.71, 210.32, 325.42 ]
          }]
        }
      }">
            </div>
        </div>
        <div class="tab-pane fade" id="usa">
            <div class="padding">
                <div class="row-col">
                    <div class="col-xs-4 v-m">
                        <h1 class="_800 l-s-n-4x inline m-r-sm text-primary">580</h1>
                        <span class="inline l-h-1x">
                            Markets <br>
                            <small class="text-muted">From africa to asia</small>
                        </span>
                    </div>
                    <div class="col-xs-4 v-m">
                        <h1 class="_800 l-s-n-4x inline m-r-sm">12,500</h1>
                        <span class="inline l-h-1x">
                            Employees  <br>
                            <small class="text-muted">From 16 countries</small>
                        </span>
                    </div>
                    <div class="col-xs-4 v-m">
                        <h1 class="_800 l-s-n-4x text-white text-shadow inline m-r-sm">1,000</h1>
                        <span class="inline l-h-1x">
                            Suppliers  <br>
                            <small class="text-muted">From Nike to PE</small>
                        </span>
                    </div>
                </div>
            </div>
            <div style="height: 62vh" ui-jp="vectorMap" ui-options="{
        map: 'us_aea_en',
        markers: [{latLng: [40.71, -74.00], name: &#x27;New York&#x27;},{latLng: [34.05, -118.24], name: &#x27;Los Angeles&#x27;},{latLng: [41.87, -87.62], name: &#x27;Chicago&#x27;},{latLng: [29.76, -95.36], name: &#x27;Houston&#x27;},{latLng: [39.95, -75.16], name: &#x27;Philadelphia&#x27;},{latLng: [38.90, -77.03], name: &#x27;Washington&#x27;},{latLng: [37.36, -122.03], name: &#x27;Silicon Valley&#x27;}],
        backgroundColor: 'transparent',
        regionsSelectable: true,
        markersSelectable: true,
        regionStyle: {
          initial: {
            fill: '#ffffff'
          },
          selected: {
            fill: '#f44455'
          }
        },
        series: {
          markers: [{
            attribute: 'fill',
            scale: ['#0cc2aa','#f77a99', '#6cc788'],
            values: [ 605.16, 310.69, 405.17, 748.31, 207.35, 217.22, 137.70, 280.71, 210.32, 325.42 ]
          },{
            attribute: 'r',
            scale: [5, 20],
            values: [ 605.16, 310.69, 405.17, 748.31, 207.35, 217.22, 137.70, 280.71, 210.32, 325.42 ]
          }]
        }
      }">
            </div>
        </div>
    </div>
    <div class="row-col">
        <div class="col-xs-3 v-m nav-active-primary">
            <div class="p-a">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link p-x-sm active white" href data-toggle="tab" data-target="#world">
                            <span class="h5 _700 l-s-n-2x">world</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-x-sm white" href data-toggle="tab" data-target="#usa">
                            <span class="h5 _700 l-s-n-2x">usa</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-6 v-m text-center text-sm text-muted p-a">Worldwide map data from 1990 - 2010</div>
        <div class="col-xs-3 v-m text-right">
            <span ui-jp="sparkline" ui-refresh="app.setting.color" ui-options="[70,30], {type:'pie', height:22, sliceColors:['#0cc2aa','transparent']}" class="sparkline inline m-r"></span>
            <span ui-jp="sparkline" ui-refresh="app.setting.color" ui-options="[30,70], {type:'pie', height:22, sliceColors:['#0cc2aa','transparent']}" class="sparkline inline m-r"></span>
        </div>
    </div>
</div>