{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ page|title }} | Lantern Project</title>

    <!-- Metta - Start -->
    <meta name="description" content="Admin, Dashboard, Lantern-Project" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Metta - End -->
    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="{% static 'dashboard/images/logo.png' %}">

    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="{% static 'dashboard/images/logo.png' %}">

    <!-- style -->
    <link rel="stylesheet" href="{% static 'dashboard/animate-css/animate.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'dashboard/glyphicons/glyphicons.css' %}" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'dashboard/material-design-icons/material-design-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'dashboard/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'dashboard/styles/app.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/styles/custom.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/styles/font.css' %}" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    
    <!-- VueJS 2.0 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.1.0/dist/jdenticon.min.js" integrity="sha384-VngWWnG9GS4jDgsGEUNaoRQtfBGiIKZTiXwm9KpgAeaRn6Y/1tAFiyXqSzqC8Ga/" crossorigin="anonymous" async></script>
</head>
<body>
    <div class="app">
        <!-- navbar - start -->
        <div id="aside" class="app-aside modal fade md nav-expand dark">{% include 'dashboard/aside.html' with aside=aside %}</div>
        <!-- navbar - end -->
        <div id="content" class="app-content box-shadow-z0" role="main">
            <div class="app-header white box-shadow">{% include 'dashboard/header.html' with header=header %}</div>
            <!-- footer - start -->
            <div class="app-footer">{% include 'dashboard/footer.html' %}</div>
            <!-- footer - end -->
            <!-- Body - start -->
            <div ui-view class="app-body">
                {% if page == 'profile' %}
                {% include 'dashboard/profile.html' with profile=profile %}
                {% elif page == 'home' %}
                {% include 'dashboard/home.html' with home=home %}
                {% elif page == 'chatroom' %}
                {% include 'dashboard/chatroom.html' with chatroom=chatroom reservedmessages=reservedmessages %}
                {% elif page == 'newsletter' %}
                {% include 'dashboard/newsletter.html' with newsletter=newsletter %}
                {% elif page == 'reserved messages' %}
                {% include 'dashboard/reservedmessages.html' with reservedmessages=reservedmessages %}
                {% endif %}
            </div>
            <!-- Body - end -->
        </div>
    </div>
    <!-- Error modal - start -->
    <div id="error_model" class="modal" data-backdrop="true" style="display: none;" aria-hidden="true">
        <div class="row-col h-v">
            <div class="row-cell v-m">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 id="error_model_title" class="modal-title">Oops! Something went wrong</h5>
                        </div>
                        <div class="modal-body text-center p-lg">
                            <p id="error_model_body"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn info p-x-md" data-dismiss="modal" onclick="location.reload()">Refresh</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Error modal - end -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'dashboard/scripts/script.js' %}"></script>
    <script src="{% static 'dashboard/scripts/app/app.html.js'%}"></script>
</body>
</html>
