{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Login | Lantern Project</title>

    <!-- Metta - Start -->
    <meta name="description" content="Admin, Dashboard, Lantern-Project" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Metta - End -->
    <!-- style -->
    <link rel="stylesheet" href="{% static 'dashboard/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dashboard/styles/app.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/styles/custom.css' %}">    
</head>
<body id="particles-js" class="dark-linear-background text-white">    
    <div class="app">
        <div class="center-block w-xxl w-auto-xs p-y-md absolute-center text-center">
            <span class="title">Lantern Project</span>
            <div class="p-a-md white-bg r-sm m-a text-black">
                {% if message %}
                <p id="err" class="text-danger" style="text-align: center">{{ message|title }}</p>
                {% endif %}
                <form name="login" id="login" role="form" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="{% if field.field.type != 'checkbox'%}md-form-group float-label{% else %}m-b-md{% endif %}">
                        {% if field.field.type == 'checkbox' %}
                        <label class="md-check"><input type="{{ field.field.type }}" autocomplete="off" name="{{ field.name }}" /><i class="theme-primary-bgcolor"></i></label>
                        {% else %}
                        <input type="{{ field.field.type }}" autocomplete="off" ng-model="{{ field.name }}" name="{{ field.name }}" value="{{ field.initial }}" class="md-input" {% if field.field.required %}required="required"{% endif %} {% if field.field.min_length %}minlength="{{ field.field.min_length }}" {% endif %} {% if field.field.max_length %}maxlength="{{ field.field.max_length }}"{% endif %} />
                        {% endif %}
                        <label for="{{ field.field.name }}">{{ field.label|title }}</label>                        
                    </div>
                    {% endfor %}
                    <input type="submit" class="btn theme-secondary-bgcolor btn-block p-x-md" value="Login" />
                </form>
            </div>

            <div class="p-v-lg text-center">
                <div class="m-b"><a ui-sref="access.forgot-password" href="forgot-password.html" class="text-primary _600">Forgot password?</a></div>
                <div>Do not have an account? <a ui-sref="access.signup" href="signup.html" class="text-primary _600">Register</a></div>
            </div>
        </div>
    </div>

    <!-- Scripts -->    
    <script src="{% static 'dashboard/scripts/app/app.html.js'%}"></script>
    <script src="{% static 'dashboard/scripts/particles/particles.min.js'%}"></script>
    <script>
    particlesJS.load('particles-js', '../../../../static/dashboard/scripts/particles/package.json')
    function removeErr() { $('#err').text('') }
    window.onload = function() { document.querySelector('canvas').style.height = window.innerHeight + 'px' }
    </script>
</body>
</html>