{% load static %}

<!DOCTYPE html>

<div class="padding">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h4 class="m-a-0 m-b-sm text-md">{{ title|title }}</h4>
            <div class="m-b" id="accordion">

                {% for letter in newsletter.letters %}
                <div class="panel box no-border m-b-xs">
                    <div class="box-header p-y-sm">
                        <span class="pull-right label red text-sm">NEW</span>
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#c_{{ forloop.counter0 }}" aria-expanded="false" class="collapsed">
                            <i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>{{ letter.title|title }}</b>
                        </a>
                    </div>
                    <div id="c_{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="collapse in" aria-expanded="true"{% else %}class="collapse" aria-expanded="false" style="height: 0px;"{% endif %}>
                        <div class="box-body">
                            <p class="text-sm">
                                <span class="text-md pull-left w-48 m-r rounded success">{{ letter.title.0 }}</span>
                                {% autoescape off %}
                                {{ letter.content }}
                                {% endautoescape %}
                                <br /><br />
                            </p>
                            {% if letter.user.role == 'Staff' %}
                            <p class="pull-right label indigo ">- {{ letter.user.username }} ({{ letter.date_published|date:'Y-m-d H:i' }})</p>
                            {% elif letter.user.role == 'Admin' %}
                            <p class="pull-right label light-blue">- {{ letter.user.username }} ({{ letter.date_published|date:'Y-m-d H:i' }})</p>
                            {% else %}
                            <p class="pull-right label teal">- {{ letter.user.username }} ({{ letter.date_published|date:'Y-m-d H:i' }})</p>
                            {% endif %}
                            <p>
                                <span class="m-r">Tags:</span>
                                {% for tag in letter.tags_as_list %}
                                {% if tag|lower == 'staff' %}
                                <span class="label indigo">{{ tag|lower }}</span>
                                {% elif tag|lower == 'admin' %}
                                <span class="label light-blue">{{ tag|lower }}</span>
                                {% elif tag|lower == 'announcement' %}
                                <span class="label info">{{ tag|lower }}</span>
                                {% elif tag|lower == 'update' %}
                                <span class="label accent">{{ tag|lower }}</span>
                                {% elif tag|lower == 'automated' %}
                                <span class="label lime">{{ tag|lower }}</span>
                                {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>