{% load static %}

<!-- Header - start -->
<div id="profile" class="item">
    <div class="item-bg">
        <img src="{% static 'dashboard/images/a3.jpg'%}" class="blur opacity-3">
    </div>
    <div class="p-a-md">
        <div class="row m-t">
            <div class="col-sm-12">
                <span class="avatar w-96 pull-left m-r-md">
                    <img src="{% static 'dashboard/images/a3.jpg'%}">
                </span>
                <div class="clear m-b">
                    <h3 class="m-a-0 m-b-xs">{{ profile.firstname }} {{ profile.lastname }}</h3>
                    <p class="text-muted">
                        {% if profile.role == 'Staff' %}
                        <small class="label deep-purple-A700 m-r">{{ profile.role|title }}</small>
                        {% elif profile.role == 'Admin' %}
                        <small class="label red-A700 m-r">{{ profile.role|title }}</small>
                        {% else %}
                        <small class="label green-600 m-r">{{ profile.role|title }}</small>
                        {% endif %}
                        <small class="label light-blue-700 m-r">{{ profile.sitename|title }}</small>
                        <small><i class="fa fa-map-marker m-r-xs"></i>{{ profile.city|title }}, {{ profile.country|title }}</small>
                    </p>
                    <div class="block clearfix m-b">
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-facebook indigo"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-twitter light-blue"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-google-plus red"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-linkedin cyan-600"></i>
                        </a>
                    </div>
                    <span class="text-muted">"{{ profile.bio }}"</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header - end -->
<!-- Tab page - start -->
<div class="dker p-x">
    <div class="row">
        <div class="col-sm-6 push-sm-6">
            <div class="p-y text-center text-sm-right">
                <span class="inline p-x text-center">

                    {% if profile.rating < 3 %}
                    <span class="h4 block m-a-0 btn danger" style="padding: 3px; cursor: default">{{ profile.rating }}</span>
                    {% elif profile.rating < 5 %}
                    <span class="h4 block m-a-0 btn warn" style="padding: 3px; cursor: default">{{ profile.rating }}</span>
                    {% elif profile.rating < 7 %}
                    <span class="h4 block m-a-0 btn accent" style="padding: 3px; cursor: default">{{ profile.rating }}</span>
                    {% else %}
                    <span class="h4 block m-a-0 btn success" style="padding: 3px; cursor: default">{{ profile.rating }}</span>
                    {% endif %}
                    <small class="text-xs text-muted">Rating</small>
                </span>
                <span class="inline p-x b-l text-center">
                    <span class="h4 block m-a-0">{{ profile.activities }}</span>
                    <small class="text-xs text-muted">Activities</small>
                </span>
            </div>
        </div>
        <div class="col-sm-6 pull-sm-6">
            <div class="p-y-md clearfix nav-active-primary">
                <ul class="nav nav-pills nav-sm">
                    <li class="nav-item active">
                        <a class="nav-link" href data-toggle="tab" data-target="#tab_1">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href data-toggle="tab" data-target="#tab_2">Information</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Tab page - end -->
<!-- body - start -->
<div class="padding">
    <div class="row">
        <div class="col-sm-8 col-lg-9">
            <div class="tab-content">
                <!-- Activities - start -->
                <div class="tab-pane p-v-sm active" id="tab_1">
                    <div class="box">
                        <div class="box-header">
                            <h3>Tasks</h3>
                        </div>
                        <div class="box-tool">
                            <ul class="nav">
                                <li class="nav-item inline dropdown">
                                    <a class="nav-link text-muted p-x-xs" data-toggle="dropdown">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-scale pull-right">
                                        <a class="dropdown-item" href="">New task</a>
                                        <a class="dropdown-item" href="">Make all finished</a>
                                        <a class="dropdown-item" href="">Make all unfinished</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item">Settings</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="box-body">
                            <div class="streamline b-l m-l">
                                <div class="sl-item b-success">
                                    <div class="sl-icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="sl-content">
                                        <div class="sl-date text-muted">8:30</div>
                                        <div>Call to customer <a href="" class="text-info">Jacob</a> and discuss the detail.</div>
                                    </div>
                                </div>
                                <div class="sl-item b-info">
                                    <div class="sl-content">
                                        <div class="sl-date text-muted">Sat, 5 Mar</div>
                                        <div>Prepare for presentation</div>
                                    </div>
                                </div>
                                <div class="sl-item b-warning">
                                    <div class="sl-content">
                                        <div class="sl-date text-muted">Sun, 11 Feb</div>
                                        <div><a href="" class="text-info">Jessi</a> assign you a task <a href="" class="text-info">Mockup Design</a>.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <a href="" class="btn btn-sm btn-block info text-u-c">Load More</a>
                        </div>
                    </div>
                </div>
                <!-- Activities - end -->
                <!-- Information - start -->
                <div class="tab-pane p-v-sm" id="tab_2">
                    <!-- Personal Information - start -->
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <h2>Personal Information</h2>
                                <small>Some changes may take time to apply across the site, like your profile image.</small>
                            </div>
                            <div class="box-divider m-a-0"></div>
                            <div class="box-body">
                                <!-- Profile Form - start -->
                                <form id="form_pi" role="form" method="post" onsubmit="return false">
                                    {% csrf_token %}
                                    {% for field in profile.form %}
                                    <div class="col-md-6" style="padding: 5px 10px">
                                        <div class="col-lg-12 md-form-group float-label">
                                            {% if field.field.label == 'image' %}
                                            <input type="file" accept="image/png,image/jpg,image/jpeg" name="{{ field.html_name }}" title="{{ field.label }}" class="form-control" style="border-bottom: 1px solid #999">
                                            {% else %}
                                            <input type="text" ng-model="{{ field.html_name }}" name="{{ field.html_name }}" title="{{ field.label }}" value="{{ field.initial }}" class="md-input" style="border-bottom: 1px solid #999" {% if field.field.required %}required{% endif %} {% if field.field.disabled %}readonly="readonly" disabled="disabled"{% endif %} maxlength="{{ field.field.max_length }}">
                                            <label style="left: 15px">{{ field.label }} {% if field.help_text %}({{ field.help_text|lower }}){% endif %}</label>
                                            {% endif %}
                                            {{ field.errors }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <input id="submit_btn" type="submit" class="btn white m-b" value="Update" style="transition: 0.5s"></button>
                                </form>
                                <!-- Profile Form - end -->
                            </div>
                        </div>
                    </div>
                    <!-- Personal Information - end -->                    
                </div>
                <!-- Information - end -->
            </div>
        </div>
        <div class="col-sm-4 col-lg-3">
            <!-- Activity Status - start -->
            <div>
                <div class="box">
                    <div class="box-header">
                        <h3>Activity</h3>
                    </div>
                    <div class="box-divider m-a-0"></div>
                    <ul class="list no-border p-b">
                        <li class="list-item">
                            <span>Last Login</span>
                            <span class="pull-right">{{ profile.last_login|date:'Y-m-d H:i:s' }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Activity Status - end -->
            <!-- Agents - start -->
            <div>
                <div class="box">
                    <div class="box-header">
                        <h3>Other Agents</h3>
                    </div>
                    <div class="box-divider m-a-0"></div>
                    <ul class="list no-border p-b">
                        {% for user in profile.other_users %}
                        <li class="list-item">
                            <span herf class="list-left">
                                <span class="w-40 avatar">
                                    <img src="{% static 'dashboard/images/a3.jpg'%}" alt="...">
                                    <i class="on b-white bottom"></i>
                                </span>
                            </span>
                            <div class="list-body">
                                <div><span>{{ user.firstname }} {{ user.lastname }}</span></div>
                                {% if user.role == 'staff' %}
                                <small class="label indigo m-r">{{ user.role|title }}</small>
                                {% elif user.role == 'admin' %}
                                <small class="label light-blue m-r">{{ user.role|title }}</small>
                                {% else %}
                                <small class="label teal m-r">{{ user.role|title }}</small>
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Agents - end -->
        </div>
    </div>
</div>
<!-- body - end -->