{% load static %}

<!DOCTYPE html>

<div id="reservedmessages" class="row-col">
    <!-- Nav - start -->
    <div class="col-sm w w-auto-xs light lt bg-auto">
        <div class="padding pos-rlt">
            <div class="hidden-xs-down m-t" id="inbox-menu">
                <div class="m-b nav-sm nav-active-info">
                    <ul class="nav nav-pills nav-stacked" ui-nav="">
                        <li class="nav-item active">
                            <a class="nav-link">All items<span class="pull-right"><span class="label success">{{ reservedmessages.messages|length }}</span></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Starred</a>
                        </li>
                    </ul>
                </div>
                <div>Tags</div>
                <div class="nav-active-white">
                    <ul class="nav nav-pills nav-stacked nav-sm">
                        <li class="nav-item">
                            {% for type in reservedmessages.types %}
                            <a class="nav-link"><i class="fa m-r-sm fa-circle text-primary"></i>{{ type.type }}</a>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav - start -->
    <!-- Context - start -->
    <div>
        <div ui-view="" class="padding pos-rlt">
            <a class="md-btn md-fab md-fab-bottom-right pos-fix success" data-toggle="modal" data-target="#wysiwyg">
                <i class="material-icons i-24 text-white"></i>
            </a>
            <div>
                <!-- Header - start -->
                <div class="m-b box">
                    <div class="box-header">
                        <h2>Your Reserved Messages</h2>
                        <small>Save yourself some time by pre-writing some common answers! You can always access them in the <a href="{% url 'index' user_key %}?page=chatroom" class="text-dark" style="font-weight: bold; text-decoration: underline">Chatroom</a> section.</small>
                    </div>
                </div>
                <!-- Header - end -->
                <!-- Body - start -->
                <div class="m-b list" id="accordion">
                    {% for message in reservedmessages.messages %}
                    <div class="panel box no-border m-b-xs">
                        <!-- Header - start -->
                        <div class="box-header p-y-sm">
                            <div class="list-left">
                                <a id="controller_{{ message.id }}" href="" class="text-md w-40 danger reservedmessage-remove"><i id="controller_icon_{{ message.id }}" class="fa fa-trash text-white"></i></a>
                            </div>
                            <div class="list-body">
                                <div class="pull-right text-muted text-xs">
                                    <span id="type_{{ message.id }}" class="hidden-xs label purple" style="vertical-align:text-top">{{ message.type }}</span>
                                    <span class="hidden-xs m-l-sm">{{ message.date_modified|date:'d, M' }}</span>
                                    <i class="fa {% if message.starred %}fa-star{% else%}fa-star-o{% endif %} m-l-sm text-warn"></i>
                                </div>
                                <div data-toggle="collapse" data-parent="#accordion" data-target="#c_{{ message.id }}" aria-expanded="false" class="collapsed" v-on:click="setAction({{ message.id }})">
                                    <span id="title_{{ message.id }}" href="" class="_500" style="cursor: pointer">{{ message.title|safe|title }}</span>
                                </div>
                                <div id="content_{{ message.id }}" class="text-ellipsis text-muted text-sm">{{ message.content|safe }}</div>
                            </div>
                        </div>
                        <!-- Header - end -->
                        <!-- Body - start -->
                        <div id="c_{{ message.id }}" class="collapse" aria-expanded="false" style="height: 0px;">
                            <div class="box-body row">
                                <div class="col-lg-3" style="padding: 5px 10px">
                                    <div class="md-form-group float-label" style="padding-bottom: 0px">
                                        <input type="text" ng-model="title" name="title" value="{{ message.title|title }}" class="md-input" style="border-bottom: 1px solid #999" maxlength="30" required="required">
                                        <label>Title (Max length: 30)</label>
                                    </div>
                                </div>
                                <div class="col-lg-2" style="padding: 5px 10px">
                                    <div class="md-form-group float-label" style="padding-bottom: 0px">
                                        <input type="text" ng-model="type" name="type" value="{{ message.type }}" class="md-input" style="border-bottom: 1px solid #999" maxlength="15" required="required">
                                        <label>Type (Max length: 15)</label>
                                    </div>
                                </div>
                                <div class="col-lg-7" style="padding: 5px 10px">
                                    <div class="md-form-group float-label" style="padding-bottom: 0px">
                                        <input type="text" ng-model="content" name="content" value="{{ message.content }}" class="md-input" style="border-bottom: 1px solid #999" maxlength="500" required="required">
                                        <label>Content (Max length: 500)</label>
                                    </div>
                                </div>                              
                            </div>
                        </div>
                        <!-- Body - end -->
                    </div>
                    {% endfor %}
                </div>
                <!-- Body - end -->
            </div>
        </div>
        <!-- Context - end -->
        <div id="wysiwyg" class="modal" data-backdrop="true" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add / Edit message template</h5>
                    </div>
                    <div class="modal-body text-center p-lg">
                        <!--
                        <form id="form" role="form" method="post" onsubmit="return false">
                            {% csrf_token %}
                            <div class="row">
                                {% for field in reservedmessages.form %}
                                {% if field.name == 'starred' %}
                                <div class="col-md-2" style="padding: 5px 10px">
                                    <div class="md-form-group float-label">
                                        <input type="checkbox" ng-model="{{ field.html_name }}" name="{{ field.html_name }}" title="{{ field.label }}" value="{{ field.initial }}" class="md-input" style="border-bottom: 1px solid #999" {% if field.field.required %}required{% endif %} {% if field.field.disabled %}readonly="readonly" disabled="disabled" {% endif %} maxlength="{{ field.field.max_length }}">
                                        {% comment %} <label>{{ field.label }} {% if field.help_text %}({{ field.help_text|lower }}){% endif %}</label> {% endcomment %}
                                    </div>
                                </div>
                                {% elif field.name == 'content' %}
                                {% else %}
                                <div class="col-md-5" style="padding: 5px 10px">
                                    <div class="md-form-group float-label">
                                        <input type="text" ng-model="{{ field.html_name }}" name="{{ field.html_name }}" title="{{ field.label }}" value="{{ field.initial }}" class="md-input" style="border-bottom: 1px solid #999" {% if field.field.required %}required{% endif %} {% if field.field.disabled %}readonly="readonly" disabled="disabled" {% endif %} maxlength="{{ field.field.max_length }}">
                                        <label>{{ field.label }} {% if field.help_text %}({{ field.help_text|lower }}){% endif %}</label>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <input id="submit_btn" type="submit" class="btn white m-b" value="Update" style="transition: 0.5s"></button>
                            <div id="summernote" ui-jp="summernote"></div>
                        </form>
                        -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
                        <button type="button" class="btn danger p-x-md" data-dismiss="modal">Yes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div>
    </div>
