{% load static %}

<!DOCTYPE html>

<div id="reservedmessages" class="row-col">
    <!-- Nav - start -->
    <div class="col-sm w w-auto-xs light lt bg-auto">
        <div class="padding pos-rlt">
            <div class="hidden-xs-down m-t" id="inbox-menu">
                <div class="text-muted m-b-sm">Groups</div>
                <div class="m-b nav-sm nav-active-info">
                    <ul class="nav nav-pills nav-stacked" ui-nav="">
                        <li class="nav-item active">
                            <a class="nav-link">All items<span class="pull-right"><span id='rm_count' class="label success">{{ reservedmessages.messages|length }}</span></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Starred</a>
                        </li>
                    </ul>
                </div>
                <div class="text-muted m-b-sm">Recent Tags</div>
                <div class="nav-active-white">
                    <ul class="nav nav-pills nav-stacked nav-sm">
                        <li class="nav-item">
                            {% for tag in reservedmessages.tags %}
                            <a class="nav-link text-muted"><i class="fa m-r-sm fa-circle" style="color: {{ tag.color }}"></i>{{ tag.tag }}</a>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav - start -->
    <!-- Context - start -->
    <div>
        <div ui-view="" class="padding pos-rlt">
            <a class="md-btn md-fab md-fab-bottom-right pos-fix success" data-toggle="modal" data-target="#wysiwyg">
                <i class="material-icons i-24 text-white"></i>
            </a>
            <div>
                <!-- Header - start -->
                <div class="m-b box">
                    <div class="box-header">
                        <h2>Your Reserved Messages</h2>
                        <small>Save yourself some time by pre-writing some common answers! You can always access them in the <a href="{% url 'index' user_key %}?page=chatroom" class="text-dark" style="font-weight: bold; text-decoration: underline">Chatroom</a> section.</small>
                    </div>
                </div>
                <!-- Header - end -->
                <!-- Body - start -->
                <div class="m-b list" id="accordion">
                    {% csrf_token %}
                    {% for message in reservedmessages.messages %}
                    <div id="{{ message.id }}" class="panel box no-border m-b-xs">
                        <!-- Header - start -->
                        <div class="box-header p-y-sm b-l-red">
                            <div class="list-left" v-on:click="SendAction('{{ message.id }}')">
                                <a id="controller_{{ message.id }}" class="text-md w-40 danger reservedmessage-remove"><i id="controller_icon_{{ message.id }}" class="fa fa-trash text-white"></i></a>
                            </div>
                            <div class="list-body">
                                <div class="pull-right text-muted text-xs">
                                    <span class="hidden-xs label {{ message.color }}" style="vertical-align:text-top">{{ message.tag }}</span>
                                    <span class="hidden-xs m-l-sm">{{ message.date_modified|date:'d, M' }}</span>
                                    <i class="fa {% if message.starred %}fa-star{% else%}fa-star-o{% endif %} m-l-sm text-warn"></i>
                                </div>
                                <div data-toggle="collapse" data-parent="#accordion" data-target="#c_{{ message.id }}" aria-expanded="false" class="collapsed" style="cursor: pointer" v-on:click="setActionId({{ message.id }})">
                                    <span href="" class="_500">{{ message.title|safe|title }}</span>
                                </div>
                                <div class="text-ellipsis text-muted text-sm">{{ message.content|safe }}</div>
                            </div>
                        </div>
                        <!-- Header - end -->
                        <!-- Body - start -->
                        <div id="c_{{ message.id }}" class="collapse" aria-expanded="false" style="height: 0px;">
                            <div class="box-body row">
                                <form id="form_{{ message.id }}" role="form" method="post" onsubmit="return false">
                                    {% for field in reservedmessages.form %}


                                    {% if field.label in 'Title,Tags' %}
                                    <div class="{% if field.label == 'Title' %}col-lg-3{% else %}col-lg-2{% endif %}" style="padding: 5px 10px">
                                        <div class="md-form-group float-label" style="padding-bottom: 0px">
                                            <input id="{{ field.label }}_{{ message.id }}" name="{{ field.label }}_{{ message.id }}" value="{% if field.label == 'Title' %}{{ message.title }}{% else %}{{ message.tag }}{% endif %}" type="text" class="md-input" ng-model="{{ field.label }}" style="border-bottom: 1px solid #999; height: 29px" maxlength="{{ field.field.max_length }}" {% if field.field.required%}required="required" {% endif%} />
                                            <label>{{ field.label }} (Max length: {{ field.field.max_length}})</label>
                                        </div>
                                    </div>
                                    {% elif field.label == 'Color' %}
                                    <div class="col-lg-2" style="padding: 5px 10px">
                                        <div class="md-form-group float-label" style="padding-bottom: 0px">
                                            <select id="{{ field.label }}_{{ message.id }}" name="{{ field.label }}_{{ message.id }}" class="md-input form-control form-control-sm">
                                                {% for key, value in field.field.choices %}
                                                <option {% if key == 'INDIGO' %}selected="selected" {% endif %} value="{{ key }}">{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                            <label style="top: 0px; font-size: smaller">{{ field.label }}</label>
                                        </div>
                                    </div>
                                    {% elif field.label == 'Starred' %}
                                    <div class="col-lg-2 m-r pull-right" style="padding: 5px 10px; width: fit-content">
                                        <div class="md-form-group float-label" style="padding-bottom: 0px">
                                            <span class="m-r-sm">Star</span><label class="ui-switch" style="top:4px; background-color: #fcc100"><input type="checkbox" checked="" class="has-value"><i></i></label>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="col-lg-12" style="padding: 5px 10px">
                                        <div class="md-form-group float-label" style="padding-bottom: 0px">
                                            <div id="{{ field.label }}_{{ message.id }}" ui-jp="summernote"></div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}                                    
                                </form>
                            </div>
                        </div>
                        <!-- Body - end -->
                    </div>
                    {% endfor %}
                </div>
                <!-- Body - end -->
            </div>
        </div>
        <!-- Context - end -->
        <div id="wysiwyg" class="modal" data-backdrop="true" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add / Edit message template</h5>
                    </div>
                    <div class="modal-body text-center p-lg">
                        <!--
                        <form id="form" role="form" method="post" onsubmit="return false">
                            {% csrf_token %}
                            <div class="row">
                                {% for field in reservedmessages.form %}
                                {% if field.name == 'starred' %}
                                <div class="col-md-2" style="padding: 5px 10px">
                                    <div class="md-form-group float-label">
                                        <input type="checkbox" ng-model="{{ field.html_name }}" name="{{ field.html_name }}" title="{{ field.label }}" value="{{ field.initial }}" class="md-input" style="border-bottom: 1px solid #999" {% if field.field.required %}required{% endif %} {% if field.field.disabled %}readonly="readonly" disabled="disabled" {% endif %} maxlength="{{ field.field.max_length }}">
                                        {% comment %} <label>{{ field.label }} {% if field.help_text %}({{ field.help_text|lower }}){% endif %}</label> {% endcomment %}
                                    </div>
                                </div>
                                {% elif field.name == 'content' %}
                                {% else %}
                                <div class="col-md-5" style="padding: 5px 10px">
                                    <div class="md-form-group float-label">
                                        <input type="text" ng-model="{{ field.html_name }}" name="{{ field.html_name }}" title="{{ field.label }}" value="{{ field.initial }}" class="md-input" style="border-bottom: 1px solid #999" {% if field.field.required %}required{% endif %} {% if field.field.disabled %}readonly="readonly" disabled="disabled" {% endif %} maxlength="{{ field.field.max_length }}">
                                        <label>{{ field.label }} {% if field.help_text %}({{ field.help_text|lower }}){% endif %}</label>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <input id="submit_btn" type="submit" class="btn white m-b" value="Update" style="transition: 0.5s"></button>
                            <div id="summernote" ui-jp="summernote"></div>
                        </form>
                        -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
                        <button type="button" class="btn danger p-x-md" data-dismiss="modal">Yes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div>
    </div>
