<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dashboard | Lantern Project</title>

    <!-- Metta - Start -->
    <meta name="description" content="Admin, Dashboard, Lantern-Project" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Metta - End -->
    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="../../../themes/flatkit/assets/images/logo.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">

    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="../../../themes/flatkit/assets/images/logo.png">

    <!-- style -->
    <link rel="stylesheet" href="../../../themes/flatkit/assets/animate-css/animate.min.css" type="text/css" />
    <link rel="stylesheet" href="../../../themes/flatkit/assets/glyphicons/glyphicons.css" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="../../../themes/flatkit/assets/material-design-icons/material-design-icons.css" type="text/css" />
    <link rel="stylesheet" href="../../../themes/flatkit/assets/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../../../themes/flatkit/assets/styles/app.min.css">
    <link rel="stylesheet" href="../../../themes/flatkit/assets/styles/font.css" type="text/css" />

    <!-- VueJS 2.0 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <!-- Jdenticon -->
    <script>

        // Custom identicon style
        // https://jdenticon.com/icon-designer.html?config=864444000141640028501e5a
        window.jdenticon_config = {
            lightness: {
                color: [Math.random() * (1), Math.random() * (1)],
                grayscale: [Math.random() * (1), Math.random() * (1)]
            },
            saturation: {
                color: Math.random() * (1),
                grayscale: Math.random() * (1)
            },
            backColor: "#0000"
        };

    </script>

    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.1.0/dist/jdenticon.min.js" async
            integrity="sha384-VngWWnG9GS4jDgsGEUNaoRQtfBGiIKZTiXwm9KpgAeaRn6Y/1tAFiyXqSzqC8Ga/" crossorigin="anonymous">
    </script>
</head>
<body>    
    <div class="app" id="app">
        <!-- ############ LAYOUT START-->
        <!-- aside -->
        <div id="aside" class="app-aside modal fade folded md nav-expand">
            <div class="left navside indigo-900 dk" layout="column">
                <div class="navbar navbar-md no-radius">
                    <!-- brand -->
                    <a class="navbar-brand">
                        <div ui-include="'../assets/images/logo.png'"></div>
                        <img src="../../../themes/flatkit/assets/images/logo.png" alt="." class="hide">
                        <span class="hidden-folded inline">Lantern Project</span>
                    </a>
                    <!-- / brand -->
                </div>
                <div flex class="hide-scroll">
                    <nav class="scroll nav-active-primary">
                        <ul class="nav" ui-nav>
                            <!-- Agent - start -->
                            <li class="nav-header hidden-folded">
                                <small class="text-muted">Agent</small>
                            </li>
                            <li>
                                <a href="../../../themes/flatkit/html/index.html">
                                    <span class="nav-icon">
                                        <i class="fa fa-tachometer" aria-hidden="true"></i>                                        
                                    </span>
                                    <span class="nav-text">Dashboard</span>
                                </a>
                            </li>
                            <!-- Agent - end -->
                            <!-- Admin - start -->
                            <li class="nav-header hidden-folded">
                                <small class="text-muted">Admin</small>
                            </li>
                            <li>
                                <a>
                                    <span class="nav-caret">
                                        <i class="fa fa-caret-down"></i>
                                    </span>
                                    <span class="nav-icon">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                    </span>
                                    <span class="nav-text">Agents</span>
                                </a>
                                <ul class="nav-sub" style="padding-left:10px">
                                    <li>
                                        <span class="avatar w-24">
                                            <img src="../../../themes/flatkit/assets/images/a0.jpg" alt="Alex">
                                        </span>
                                        <a href="../../../index.html" style="display:inline-block; padding-left: 18px">
                                            <span class="nav-text">Alex</span>
                                        </a>
                                    </li>
                                    <li>
                                        <span class="avatar w-24">
                                            <img src="../../../themes/flatkit/assets/images/a3.jpg" alt="Alex">
                                        </span>
                                        <a href="../../../index.html" style="display:inline-block; padding-left: 18px">
                                            <span class="nav-text">Janet</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>
                                    <span class="nav-caret">
                                        <i class="fa fa-caret-down"></i>
                                    </span>
                                    <span class="nav-icon">
                                        <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                    </span>
                                    <span class="nav-text">Charts</span>
                                </a>
                                <ul class="nav-sub">
                                    <li>
                                        <a href="../../../index.html">
                                            <span class="nav-text">System</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- Admin - end -->
                            <!-- Staff - start -->
                            <li class="nav-header hidden-folded">
                                <small class="text-muted">Staff</small>
                            </li>
                            <li>
                                <a>
                                    <span class="nav-caret">
                                        <i class="fa fa-caret-down"></i>
                                    </span>
                                    <span class="nav-icon">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                    </span>
                                    <span class="nav-text">Sites</span>
                                </a>
                                <ul class="nav-sub">
                                    <li>
                                        <a href="../../../index.html">
                                            <span class="nav-text">Google.com</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../../../index.html">
                                            <span class="nav-text">Amazon.com</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- Staff - end -->
                            <!-- Shared - start -->
                            <li class="nav-header hidden-folded">
                                <small class="text-muted">Shared</small>
                            </li>
                            <li class="active">
                                <a href="../../../themes/flatkit/html/dashboard-0.html">
                                    <span class="nav-icon">
                                        <i class="fa fa-child" aria-hidden="true"></i>
                                    </span>
                                    <span class="nav-text">Service</span>
                                </a>
                            </li>
                            <li>
                                <a href="../../../themes/flatkit/html/dashboard-0.html">
                                    <span class="nav-label">
                                        <b class="label rounded label-sm primary">5</b>
                                    </span>
                                    <span class="nav-icon">
                                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                    </span>
                                    <span class="nav-text">Newsletter</span>
                                </a>
                            </li>
                            <li>
                                <a href="../../../themes/flatkit/html/dashboard-0.html">
                                    <span class="nav-icon">
                                        <i class="fa fa-user-o" aria-hidden="true"></i>
                                    </span>
                                    <span class="nav-text">Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="../../../themes/flatkit/html/dashboard-0.html">
                                    <span class="nav-icon">
                                        <i class="fa fa-cogs" aria-hidden="true"></i>
                                    </span>
                                    <span class="nav-text">Settings</span>
                                </a>
                            </li>
                            <!-- Shared - end -->
                        </ul>
                    </nav>
                </div>
                <div flex-no-shrink="">
                    <nav ui-nav="">
                        <ul class="nav">
                            <li>
                                <div class="b-b b m-t-sm"></div>
                            </li>
                            <li class="no-bg">
                                <a>
                                    <span class="nav-icon">
                                        <i class="material-icons"></i>
                                    </span>
                                    <span class="nav-text">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- / aside -->
        <!-- content -->
        <div id="content" class="app-content box-shadow-z0" role="main">
            <div class="app-header white box-shadow navbar-md">
                <div class="navbar">
                    <!-- Open side - Naviation on mobile -->
                    <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up">
                        <i class="material-icons">&#xe5d2;</i>
                    </a>
                    <!-- / -->
                    <!-- Page title - Bind to $state's title -->
                    <div class="navbar-item pull-left h5" ng-bind="$state.current.data.title" id="pageTitle"></div>
                    <!-- navbar right -->
                    <ul class="nav navbar-nav pull-right">
                        <li class="nav-item dropdown pos-stc-xs">
                            <a class="nav-link" href data-toggle="dropdown">
                                <i class="material-icons">&#xe7f5;</i>
                                <span class="label label-sm up warn">3</span>
                            </a>
                            <div class="dropdown-menu pull-right w-xl animated fadeInUp no-bg no-border no-shadow">
                                <div class="scrollable" style="max-height: 220px">
                                    <ul class="list-group list-group-gap m-a-0">
                                        <li class="list-group-item dark-white lt box-shadow-z0 b">
                                            <span class="pull-left m-r"><img src="../assets/images/a0.jpg" alt="..." class="w-40 img-circle"></span>
                                            <span class="clear block">
                                                Use awesome <a href="" class="text-primary">animate.css</a>
                                                <br><small class="text-muted">10 minutes ago</small>
                                            </span>
                                        </li>
                                        <li class="list-group-item dark-white lt box-shadow-z0 b">
                                            <span class="pull-left m-r">
                                                <img src="../assets/images/a1.jpg" alt="..." class="w-40 img-circle">
                                            </span>
                                            <span class="clear block">
                                                <a href="" class="text-primary">Joe</a> Added you as friend<br>
                                                <small class="text-muted">2 hours ago</small>
                                            </span>
                                        </li>
                                        <li class="list-group-item dark-white text-color box-shadow-z0 b">
                                            <span class="pull-left m-r">
                                                <img src="../assets/images/a2.jpg" alt="..." class="w-40 img-circle">
                                            </span>
                                            <span class="clear block">
                                                <a href="" class="text-primary">Danie</a> sent you a message<br>
                                                <small class="text-muted">1 day ago</small>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link clear" href data-toggle="dropdown">
                                <span class="avatar w-32">
                                    <img src="../../../themes/flatkit/assets/images/a0.jpg" alt="...">
                                    <i class="on b-white bottom"></i>
                                </span>
                            </a>
                            <div ui-include="'../views/blocks/dropdown.user.html'"></div>
                        </li>
                        <li class="nav-item hidden-md-up">
                            <a class="nav-link" data-toggle="collapse" data-target="#collapse">
                                <i class="material-icons">&#xe5d4;</i>
                            </a>
                        </li>
                    </ul>
                    <!-- / navbar right -->
                </div>
            </div>
            <div class="app-footer">
                <div class="p-a text-xs">
                    <div class="text-muted" style="width:100%; text-align:center">
                        <span>
                            &copy; Copyright <strong><a href="#">Lantern-Project</a></strong> <span class="hidden-xs-down">- Built with ❤</span>
                        </span>
                    </div>
                </div>
            </div>
            <div ui-view class="app-body" id="view">
                <div class="padding">
                    <!-- Left panel - start -->
                    <div class="col-md-4">
                        <!-- Sessions list - start -->
                        <div class="box">
                            <div class="box-header">
                                <h3>All Sessions<b class="label label-sm primary" style="vertical-align:top; float: right; padding: .35em .45em">5</b></h3>
                            </div>
                            <div class="box-divider m-a-0"></div>
                            <ul class="list no-border p-b" style="max-height:400px; overflow-y:auto">
                                <li class="list-item">
                                    <a herf="" class="list-left">
                                        <span class="w-40 avatar">
                                            <svg data-jdenticon-value="icon"></svg>
                                            <i class="on b-white bottom"></i>
                                        </span>
                                    </a>
                                    <div class="list-body">
                                        <div><a href="">Chris Fox</a></div>
                                        <small class="text-muted text-ellipsis">Designer, Blogger</small>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <a herf="" class="list-left">
                                        <span class="w-40 avatar">
                                            <svg data-jdenticon-value="icon"></svg>
                                            <i class="on b-white bottom"></i>
                                        </span>
                                    </a>
                                    <div class="list-body">
                                        <div><a href="">Mogen Polish</a></div>
                                        <small class="text-muted text-ellipsis">Writter, Mag Editor</small>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <a herf="" class="list-left">
                                        <span class="w-40 avatar">
                                            <svg data-jdenticon-value="icon"></svg>
                                            <i class="busy b-white bottom"></i>
                                        </span>
                                    </a>
                                    <div class="list-body">
                                        <div><a href="">Joge Lucky</a></div>
                                        <small class="text-muted text-ellipsis">Art director, Movie Cut</small>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <a herf="" class="list-left">
                                        <span class="w-40 avatar">
                                            <svg data-jdenticon-value="icon"></svg>
                                            <i class="away b-white bottom"></i>
                                        </span>
                                    </a>
                                    <div class="list-body">
                                        <div><a href="">Folisise Chosielie</a></div>
                                        <small class="text-muted text-ellipsis">Musician, Player</small>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <a herf="" class="list-left">
                                        <span class="w-40 circle avatar">
                                            <svg data-jdenticon-value="icon"></svg>
                                            <i class="away b-white bottom"></i>
                                        </span>
                                    </a>
                                    <div class="list-body">
                                        <div><a href="">Peter</a></div>
                                        <small class="text-muted text-ellipsis">Musician, Player</small>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Sessions list - end -->
                        <!-- Ongoing sessinos list - start -->
                        <div class="box">
                            <div class="box-header">
                                <h3>Ongoing Sessions<b class="label label-sm primary" style="vertical-align:top; float: right; padding: .35em .45em">3</b></h3>
                            </div>
                            <div class="box-divider m-a-0"></div>
                            <ul class="list no-border p-b" style="max-height:200px; overflow-y:auto">
                                <li class="list-item">
                                    <a herf="" class="list-left">
                                        <span class="w-40 avatar">
                                            <svg data-jdenticon-value="icon"></svg>
                                            <i class="on b-white bottom"></i>
                                        </span>
                                    </a>
                                    <div class="list-body">
                                        <div><a href="">Chris Fox</a></div>
                                        <small class="text-muted text-ellipsis">Designer, Blogger</small>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <a herf="" class="list-left">
                                        <span class="w-40 avatar">
                                            <svg data-jdenticon-value="icon"></svg>
                                            <i class="on b-white bottom"></i>
                                        </span>
                                    </a>
                                    <div class="list-body">
                                        <div><a href="">Mogen Polish</a></div>
                                        <small class="text-muted text-ellipsis">Writter, Mag Editor</small>
                                    </div>
                                </li>                                
                            </ul>
                        </div>
                        <!-- Ongoing sessions lsit - end -->
                    </div>
                    <!-- Left panel - end -->
                    <!-- Right panel - start -->
                    <div class="col-md-8">
                        <div class="box row-col" style="min-height:600px">
                            <div class="box-header b-b">
                                <strong>Chat</strong>
                            </div>
                            <div class="row-row dker">
                                <div class="row-body">
                                    <div class="row-inner">
                                        <div class="p-a-md">
                                            <div class="m-b">
                                                <a href="" class="pull-left w-40 m-r-sm">
                                                    <svg data-jdenticon-value="icon"></svg>
                                                </a>
                                                <div class="clear">
                                                    <div>
                                                        <div class="p-a p-y-sm dark-white inline r">
                                                            Hi John, What's up...
                                                        </div>
                                                    </div>
                                                    <div class="m-t-xs">
                                                        <div class="p-a p-y-sm dark-white inline r">
                                                            hmm...
                                                        </div>
                                                    </div>
                                                    <div class="text-muted text-xs m-t-xs"><i class="fa fa-ok text-success"></i> 2 minutes ago</div>
                                                </div>
                                            </div>
                                            <div class="m-b">
                                                <a href="" class="pull-right w-40 m-l-sm">
                                                    <img src="../assets/images/a3.jpg" class="w-full img-circle" alt="...">
                                                </a>
                                                <div class="clear text-right">
                                                    <div class="p-a p-y-sm info inline text-left r">
                                                        Lorem ipsum dolor soe rooke..
                                                    </div>
                                                    <div class="text-muted text-xs m-t-xs">1 minutes ago</div>
                                                </div>
                                            </div>
                                            <div class="m-b">
                                                <a href="" class="pull-left w-40 m-r-sm">
                                                    <svg data-jdenticon-value="icon"></svg>
                                                </a>
                                                <div class="clear">
                                                    <div class="p-a p-y-sm dark-white inline r">
                                                        Good!
                                                    </div>
                                                    <div class="text-muted text-xs m-t-xs"><i class="fa fa-ok text-success"></i> 5 seconds ago</div>
                                                </div>
                                            </div>
                                            <div class="m-b">
                                                <a href="" class="pull-right w-40 m-l-sm">
                                                    <img src="../assets/images/a3.jpg" class="w-full img-circle" alt="...">
                                                </a>
                                                <div class="clear text-right">
                                                    <div>
                                                        <div class="p-a p-y-sm info inline text-left r">
                                                            Dlor soe isep slie gosese..
                                                        </div>
                                                    </div>
                                                    <div class="m-t-xs">
                                                        <div class="p-a p-y-sm info inline text-left r">
                                                            Loris aspim..
                                                        </div>
                                                    </div>
                                                    <div class="text-muted text-xs m-t-xs">Just now</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer b-t">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Say something">
                                        <span class="input-group-btn">
                                            <button class="btn white b-a no-shadow" type="button">SEND</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Right panel - end -->
                </div>
            </div>
        </div>
        <!-- / -->
        <!-- ############ LAYOUT END-->
    </div>
    <script src="../../../themes/flatkit/html/scripts/app.html.js"></script>
</body>
</html>
