/* .uk-card-small.uk-card-body {
    padding: 5px 8px;
    font-size: 13px;
}

.uk-border-remove {
    border: 0 none;
}

.uk-textarea {
    background: none !important;
    resize: none;
    font-family: "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.33;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.uk-card {
    position: relative;
    z-index: 1;
}

.agent .uk-card:after, .client .uk-card:after {
    width: 10px;
    height: 45px;
    position: absolute;
    bottom: 0;
}

.agent .uk-card:after {
    background: #fff;
    left: -4px;
    clip-path: polygon(100% 70%, 0% 100%, 100% 100%);
}

.client .uk-card:after {
    background: #1e87f0;
    right: -4px;
    clip-path: polygon(0 70%, 0% 100%, 100% 100%);
}

.uk-flex {
    display: flex;
}

.uk-flex-1 {
    flex: 1;
}

.uk-icon-light {
    color:#ffffff !important;
}

.uk-icon-bg-light i {
    background-color:#ffffff !important;
}

.uk-font-light {
    color: #ffffff !important;
}

.uk-border-rounded-type1 {
    border-radius: 5px 5px 0px 5px;
}

.uk-border-rounded-type2 {
    border-radius: 5px 5px 5px 0px;
}

.uk-select-none {
    user-select: none;
    -moz-user-select: none;    
    -webkit-user-select: none;
}

.uk-time-p {
    color: #999;
    font-size: 9px;    
}

.uk-stick-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.app {
    position: fixed;
    bottom: 10px;
    right: 10px;   
    margin: 30px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    border-radius: 5px;
    max-width: 300px;
}

.app-hide {
    display: none;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.app-logo {    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: -30px;
    position: absolute;
    z-index: 999;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}

.app-logo img {
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
}

.app-cursor-pointer {
    cursor: pointer;
}

.app-header {
    width: 0px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: 0.3s;
    overflow: hidden;
}

.app-header-expand {
    width: 300px;
    height: 40px;
    opacity: 1;
    transition: 0.3s;
}

.app-header-container {
    margin-left: 30px;
}

.app-content {
    opacity: 0;
    height: 0;
    transition: 1s3
    transition-del3y: 0.1s;
}

.app-content-show {
    opacity: 1;
    height: 500px;
    transition: 1s3    
    transition-del3y: 0.1s;
}

.app-dropdown {
    padding: 15px;
    border-radius: 5px;
    min-width: 180px;
}

.app-dropdown-desc {
    padding: 0px;
    font-size: 12px;
    color: #999;
}

.app-dropdown ul {
    display: inline-flex;
    margin: 0px;
    border: 0.5px solid #e5e5e5;
    border-radius: 7px;
    float: right;
}

.app-dropdown li {
    padding: 0px;
}

.app-dropdown-li-radius-left {
    font-size: 10px !important;
    padding: 5px 7px !important;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.app-dropdown-li-radius-right {
    font-size: 10px !important;
    padding: 5px 7px !important;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.app-icon {
    display: block;
}

.app-icon:hover {
    color: #1b7fe2 !important;
}

.app-icon-show {
    display: block !important;
}

.app-body {
    overflow-y: auto;
}

.uk-app-dark {
    background-color:rgb(58, 58, 58);
    color: #ffffff;
    transition: 0.3s;
}

.uk-app-light {
    background-color: #ffffff;
    color: #999 !important;
    transition: 0.3s;
}

.uk-etc-dot {
    font-size: 25px;
    position: absolute;
    color: white;
    z-index: 9999;
    top: 0px;
}

.uk-etc-dot-show {
    display: block;
}

.uk-etc-dot-hide {
    display: none;
}

.uk-margin-small {
    margin: 10px !important;
}

.app-footer {
    background-color: rgba(153, 153, 153, 0.1);
    border-radius: 5px;
    height: 20%;
}

.app-footer div {
    height: 100%;
}

ul, li {
    overflow: hidden;
}

.app-icon-hide {
    display: none;
}

.app-title {
    user-select: none;
} */























/* 

@keyframes spinner-ring {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.spinner-ring div {
    box-sizing: border-box !important
}

.spinner-ring > div {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 26.5px;
    left: 26.5px;
    border-radius: 50%;
    border: 7px solid #000;
    border-color: #0536df transparent #0536df transparent;
    animation: spinner-ring 1s linear infinite;
}

    .spinner-ring > div:nth-child(2) {
        border-color: transparent
    }

        .spinner-ring > div:nth-child(2) div {
            position: absolute;
            width: 100%;
            height: 100%;
            transform: rotate(45deg);
        }

            .spinner-ring > div:nth-child(2) div:before, .spinner-ring > div:nth-child(2) div:after {
                content: "";
                display: block;
                position: absolute;
                width: 7px;
                height: 7px;
                top: -7px;
                left: 13px;
                background: #0536df;
                border-radius: 50%;
                box-shadow: 0 40px 0 0 #0536df;
            }

            .spinner-ring > div:nth-child(2) div:after {
                left: -7px;
                top: 13px;
                box-shadow: 40px 0 0 0 #0536df;
            }

.app-toggler-spinner {
    width: 60px;
    height: 60px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.spinner-ring {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.6);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

    .spinner-ring div {
        box-sizing: content-box;
    }

* {
    box-sizing: border-box;
}

span, div, img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

img {
    -webkit-user-drag: none;
    -ms-user-drag: none;
    -moz-user-drag: none;
}

.app {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 30px;
    overflow: hidden;
}

.app * {
    transition: 1s3
}

.app-failure {
    transition: 0s3
    border-radius: 5px !important;
    width: fit-content !important;
    height: auto !important;    
    padding: 7px 10px;
    color: white;
    cursor: initial !important;
}

.app-toggler {
    width: 60px;
    height: 60px;
    float: right;
    cursor: pointer;
    border-radius: 50%;
    background-color: #000;
    box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 40%);
}

.app-toggler-logo {
    width: 36px;
    margin: 12px;
    position: absolute;
}

.app-toggler-icon {
    margin: 15px;    
    position: absolute;
}

.app-toggler .chevron {
    color: #fff;
    transform: rotate(-90deg);
    font-size: 30px;
}

.app-toggler .err {
    color: #ffee00;
    font-size: 28px;
}

.app-container {
    width: 320px;
    height: 500px;
    border-radius: 7px;
    margin-bottom: 10px;
    display: none;
    box-shadow: 0 0px 8px 0 rgb(0 0 0 / 20%);    
}

.app-container .overflow-hidden {
    height: 93%;
    overflow: hidden !important;
}

.app-header {
    height: 30%;
    border-radius: 7px 7px 0px 0px;
    border-bottom: 1px solid #999;
    background: linear-gradient(135deg, rgb(5, 52, 223) 0%, rgb(3, 25, 97) 100%);
}

    .app-header * {
        font-family: cursive;
    }

.app-header-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 20px;
}

.app-header * {
    color: white;
}

.app-header h4 {
    margin: 0px;
}

.app-header span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
}

.app-body {
    height: 70%;    
    border-bottom: 1px solid rgba(153, 153, 153, 0.2);
}

    .app-body h1, h2, h3, h4, h5, h6, span {
        font-family: Arial, Helvetica, sans-serif;
    }

    .app-body h5 {
        margin: 0;
    }

.button {
    background-color: #000;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 5px 15px;
    float: right;
    border-radius: 20px;
    color: #fff;
}

.body-nav {
    padding: 20px;
    position: relative;
    top: -1%;
}

    .body-nav .nav-item {
        width: 100%;
        height: 76px;
        background-color: #fff;
        padding: 15px;        
        border-radius: 3px;        
        box-shadow: rgb(0 0 0 / 10%) 0px 4px 15px 0px, rgb(0 0 0 / 10%) 0px 1px 2px 0px, rgb(26 26 26 / 40%) 0px 2px 0px 0px inset;
        margin-bottom: 10px;
        overflow: hidden;
        transition: 0.3s;
    }

    .nav-item-hide {
        transition: 0.3s;
        opacity: 0;
        height: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
    }

    .nav-item-center {
        text-align: center;        
    }

        .body-nav .nav-item span {
            font-size: .8rem;
        }

        .button {
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
        }

        .button span:nth-child(1) {
            font-size: .8rem;
        }

        .body-nav .nav-item .btn-text {
            margin-left: 5px;
        }

.body-form {
    position: relative;
    top: -25%;
    padding: 20px;
    opacity: 0;
}

.body-form-button-container {
    text-align: center;
}

.body-form-button-container .button ~ span {
    display: block;
    margin: 5px;
    cursor: pointer;    
}

.body-form-button-container .button ~ span:hover {
    color: rgb(41, 41, 41);
}

.body-form-button-container span {
    text-align: center;
    font-size: 12px !important;
    margin-left: 5px;
}

.body-form .button {
    float: unset;
    padding: 12px 30px;    
}

.body-form div {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

.body-form input {
    border: none;
    outline: none;
    border-bottom: 1px solid #999;
    width: 100%;
}

.body-form select {
    border: none;
    outline: none;
    border-bottom: 1px solid #999;
    width: 80%;
    float: right;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    transition: ba3kground-color 5000s ease-in-out 0s;
}

.body-form input:valid ~ label {
    top: -45px;
    color: #0536df;
    font-size: 12px;
    font-weight: bold !important;
}

.body-form input:focus ~ label {
    top: -45px;
    color: #0536df;
    font-size: 12px;
    font-weight: bold !important;
}

.body-form select:focus ~ label {
    color: #0536df;
    font-size: 13px;
    font-weight: bold !important;
}

.body-form label {
    top: -25px;
    transition: al3 .2s;
    position: relative;
    opacity: .5;
    pointer-events: none;
}

.app-footer {
    height: 7%;
    border-radius: 0px 0px 7px 7px;
    font-family: cursive;
    text-align: center;
}

    .app-footer span {
        font-size: .8rem;
        font-family: inherit;
    }

.text-meta {
    font-size: .875rem;
    line-height: 1.4;
    color: #999;
}

.text-meta a {
    text-decoration: none;
    cursor: pointer;
    color: #999;
}

.text-meta a:hover {
    color: rgb(104, 104, 104);
} */

* {
    box-sizing: border-box;
}

span, div, img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

img {
    -webkit-user-drag: none;
    -ms-user-drag: none;
    -moz-user-drag: none;
}

.main {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 30px;
    overflow: hidden;
}

.app {
    width: 320px;
    height: 550px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 15px 30px 15px 15px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    overflow: hidden;
    background: #fff;
}

.header {
    height: 150px;
    background: linear-gradient(95deg, rgb(47, 50, 74) 20%, rgb(66, 72, 103) 80%);
    color: #fff;
    font-family: cursive;
    transition: 0.3s;
}

    .header .green {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 280px;
        top: -6px;
        background-color: #18c139;
        border-radius: 10px 40px 10px 40px;
    }

.header-shrink {
    height: 50px !important;
}

.header-primary {
    font-size: 20px;
    opacity: 1;
}

    .header-primary h4 {
        margin: 0px;
    }

.header .cover {
    height: 100%;
    background-size: cover;
    padding: 12px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 5%);
}

.header .slogan {
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
    display: block;
    margin: 5px 0px;
}

.header-secondary span {
    float: left;
    font-size: 18px;
}

.header-secondary .title {
    font-size: 15px;
    margin: 3px 0px 0px 3px;
}

.header-secondary .material-icons {
    margin-top: 6px;
}

.body {
    width: 100%;
    height: 500px;
    background: #fff;
    opacity: 1;
    transition: 0.3s;
}

.body-hide {
    opacity: 0;
}

.overlay {
    width: 90%;
    margin: auto;
    height: 115px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 5px 20px 1px rgb(0 47 122 / 10%);
    border-radius: 5px;
    padding: 10px 15px;
    opacity: 1;
    position: absolute;
    top: 90px;
    left: 17px;
    transition: 0.3s;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.overlay-hide {
    height: 0px;
    opacity: 0 !important;
    padding: 0px !important;
    transition: 0.3s;
}

.overlay .card-title {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
}

.overlay .text-muted {
    margin: 5px 0px;
}

.body .card-wrapper {
    width: 100%;
    padding: 5px 10px;
}

.card-wrapper .card {
    width: fit-content;
}

.card .card-content {
    width: fit-content;
    height: 100%;
    display: inline-block;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    color: #fff;
}

.card .card-footer {
    font-size: 10px;
    color: #999;
    margin: 3px;
    text-align: end;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.left .card-content {
    background: rgb(47 50 74 / 78%);
    border-radius: 0px 7px 7px 7px;
}

.body .left {
    text-align: -webkit-left;
}

.right .card-content {
    background: #0265ffde;    
    border-radius: 7px 0px 7px 7px;
}

.body .right {
    text-align: -webkit-right;
}

.body .input-area {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px 10px;
    border-top: 1px solid #9993;
}

.input-area .textarea {
    font-family: Arial, Helvetica, sans-serif;
    cursor: text;
    display: inline-block;
    width: 80%;
    overflow: hidden;
    padding: 5px;
    line-height: 20px;
    resize: none;
    outline: none;
    max-height: 80px;
    overflow: auto;
    font-size: 14px;
}

[placeholder]:empty::before {
    content: attr(placeholder);
    color: rgb(198 198 198);
}

[placeholder]:empty:focus::before {
    content: "";
}

.input-area .material-icons {
    padding: 0px;
    width: fit-content;
    font-size: 24px;
    vertical-align: top;
    color: #18c139;
}

.input-area .gray-icon {
    color: rgba(150, 150, 150, 0.63);
}

.overlay-title .material-icons {
    font-size: 20px;
    padding-left: 0px;
}

.overlay .overlay-btn {
    color: #fff;
    background: #18c139;
    margin-top: 15px;
    padding: 7px 15px;
    border-radius: 30px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    transition: 0.5s;
}

.overlay-btn:hover {
    background: rgb(66, 72, 103);
}

.footer {
    width: 100%;
    height: 30px;
    position: absolute;
    padding: 5px;
    opacity: 1;
    text-align: center;
    bottom: 0px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0 -5px 10px 0 rgb(0 0 0 / 5%);
    transition: 0.3s;
}

.footer-hide {
    height: 0px;
    opacity: 0;
    padding: 0px;
    transition: 0.3s;
}

.footer span {
    font-size: 0.7rem;
    font-family: cursive;
    color: rgb(143, 143, 143);
}

.footer a {
    text-decoration: none;
    color: #18c139;
    cursor: pointer;
    transition: 0.3s;
}

    .footer a:hover {
        color: rgb(75, 75, 75);
    }

.toggler {
    width: 60px;
    height: 60px;
    position: relative;
    background: linear-gradient(95deg, rgb(47, 50, 74) 20%, rgb(66, 72, 103) 80%);
    border-radius: 50%;
    box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 20%);
    z-index: 999;
    cursor: pointer;
    border: 1px solid #fff;
    transition: 0.5s;
}

    .toggler img {
        width: 60%;
        margin: 13px;
    }

    .toggler .chevron-up {
        position: absolute;
        top: 12px;
        left: 8px;
        transform: rotate(-90deg);
        color: #fff;
        font-size: 35px;
        display: none;
    }

.spinner {
    width: 52px;
    height: 52px;
    position: relative;
    left: 56px;
    top: 4px;
    border-radius: 50% 50% 1px 50%;
    background: #18c139;
    transition: ease-in-out 1s;
}

.spinner-slow {
    transition: ease-in-out 0.5s;
    transform: rotate(135deg);
}

.spinner-notice {
    transform: rotate(360deg);
}

.spinner-active {
    background-color: #18c139;
    transform: rotate(-135deg);
}

.text-muted {
    color: #999;
    font-size: .8rem;
}

.pull-right {
    float: right !important;
}

.block-line {
    display: block;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    font-size: 16px;
    padding: 0px 5px;
    vertical-align: bottom;
}

.icon-show {
    left: 0px !important;
    opacity: 1 !important;
}

.icon-hide {
    left: 100px !important;
    opacity: 0 !important;
}

.send {
    position: relative;
    transition: ease-in-out 0.2s;
}
