/* .uk-card-small.uk-card-body {
    padding: 5px 8px;
    font-size: 13px;
}

.uk-border-remove {
    border: 0 none;
}

.uk-textarea {
    background: none !important;
    resize: none;
    font-family: "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.33;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.uk-card {
    position: relative;
    z-index: 1;
}

.agent .uk-card:after, .client .uk-card:after {
    width: 10px;
    height: 45px;
    position: absolute;
    bottom: 0;
}

.agent .uk-card:after {
    background: #fff;
    left: -4px;
    clip-path: polygon(100% 70%, 0% 100%, 100% 100%);
}

.client .uk-card:after {
    background: #1e87f0;
    right: -4px;
    clip-path: polygon(0 70%, 0% 100%, 100% 100%);
}

.uk-flex {
    display: flex;
}

.uk-flex-1 {
    flex: 1;
}

.uk-icon-light {
    color:#ffffff !important;
}

.uk-icon-bg-light i {
    background-color:#ffffff !important;
}

.uk-font-light {
    color: #ffffff !important;
}

.uk-border-rounded-type1 {
    border-radius: 5px 5px 0px 5px;
}

.uk-border-rounded-type2 {
    border-radius: 5px 5px 5px 0px;
}

.uk-select-none {
    user-select: none;
    -moz-user-select: none;    
    -webkit-user-select: none;
}

.uk-time-p {
    color: #999;
    font-size: 9px;    
}

.uk-stick-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.app {
    position: fixed;
    bottom: 10px;
    right: 10px;   
    margin: 30px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    border-radius: 5px;
    max-width: 300px;
}

.app-hide {
    display: none;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.app-logo {    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: -30px;
    position: absolute;
    z-index: 999;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}

.app-logo img {
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
}

.app-cursor-pointer {
    cursor: pointer;
}

.app-header {
    width: 0px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: 0.5s;
    overflow: hidden;
}

.app-header-expand {
    width: 300px;
    height: 40px;
    opacity: 1;
    transition: 0.5s;
}

.app-header-container {
    margin-left: 30px;
}

.app-content {
    opacity: 0;
    height: 0;
    transition: 1s;
    transition-delay: 0.1s;
}

.app-content-show {
    opacity: 1;
    height: 500px;
    transition: 1s;    
    transition-delay: 0.1s;
}

.app-dropdown {
    padding: 15px;
    border-radius: 5px;
    min-width: 180px;
}

.app-dropdown-desc {
    padding: 0px;
    font-size: 12px;
    color: #999;
}

.app-dropdown ul {
    display: inline-flex;
    margin: 0px;
    border: 0.5px solid #e5e5e5;
    border-radius: 7px;
    float: right;
}

.app-dropdown li {
    padding: 0px;
}

.app-dropdown-li-radius-left {
    font-size: 10px !important;
    padding: 5px 7px !important;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.app-dropdown-li-radius-right {
    font-size: 10px !important;
    padding: 5px 7px !important;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.app-icon {
    display: block;
}

.app-icon:hover {
    color: #1b7fe2 !important;
}

.app-icon-show {
    display: block !important;
}

.app-body {
    overflow-y: auto;
}

.uk-app-dark {
    background-color:rgb(58, 58, 58);
    color: #ffffff;
    transition: 0.5s;
}

.uk-app-light {
    background-color: #ffffff;
    color: #999 !important;
    transition: 0.5s;
}

.uk-etc-dot {
    font-size: 25px;
    position: absolute;
    color: white;
    z-index: 9999;
    top: 0px;
}

.uk-etc-dot-show {
    display: block;
}

.uk-etc-dot-hide {
    display: none;
}

.uk-margin-small {
    margin: 10px !important;
}

.app-footer {
    background-color: rgba(153, 153, 153, 0.1);
    border-radius: 5px;
    height: 20%;
}

.app-footer div {
    height: 100%;
}

ul, li {
    overflow: hidden;
}

.app-icon-hide {
    display: none;
}

.app-title {
    user-select: none;
} */

@keyframes spinner-ring {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
  }
  .spinner-ring div { box-sizing: border-box!important }
  .spinner-ring > div {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 26.5px;
    left: 26.5px;
    border-radius: 50%;
    border: 7px solid #000;
    border-color: #0536df transparent #0536df transparent;
    animation: spinner-ring 1s linear infinite;
  }
  .spinner-ring > div:nth-child(2) { border-color: transparent }
  .spinner-ring > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .spinner-ring > div:nth-child(2) div:before, .spinner-ring > div:nth-child(2) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    top: -7px;
    left: 13px;
    background: #0536df;
    border-radius: 50%;
    box-shadow: 0 40px 0 0 #0536df;
  }
  .spinner-ring > div:nth-child(2) div:after { 
    left: -7px;
    top: 13px;
    box-shadow: 40px 0 0 0 #0536df;
  }
  .app-toggler-spinner {
    width: 60px;
    height: 60px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .spinner-ring {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.6);
    backface-visibility: hidden;
    transform-origin: 0 0;
  }
  .spinner-ring div { box-sizing: content-box; }

* {
    box-sizing: border-box;   
}

span, div, img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

img {
    -webkit-user-drag: none;
    -ms-user-drag: none;
    -moz-user-drag: none;
}

.app {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 30px;
    overflow: hidden;
}

.app-toggler {
    width: 60px;
    height: 60px;
    float: right;
    cursor: pointer;
    border-radius: 50%;
    background-color: #000;
    box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 40%);
}

.app-toggler-logo {
    width: 36px;
    margin: 12px;
    position: absolute;
}

.app-toggler-icon {
    color: #fff;
    margin: 15px;
    display: none;
    position: absolute;    
    transform: rotate(-90deg);    
}

.app-container {
    width: 320px;
    height: 500px;
    background-color: #fff;
    border-radius: 7px;
    display: none;
    box-shadow: 0 0px 8px 0 rgb(0 0 0 / 20%);
}

.app-header {
    height: 10%;
    border-radius: 7px 7px 0px 0px;
    border-bottom: 1px solid #999;
    background: linear-gradient(135deg, rgb(5, 52, 223) 0%, rgb(3, 25, 97) 100%);    
}

.app-header * {
    font-family: cursive;
}

.app-header-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 20px;
}

.height-30 {
    height: 30%;
}

.height-63 {
    height: 63%;
}

.app-header * {
    color: white;
}

.app-header h4 {
    margin: 0px;
}

.app-header span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
}

.app-body {
    border-bottom: 1px solid rgba(153, 153, 153, 0.2);    
}

.app-body h1, h2, h3, h4, h5, h6, span {
    font-family: Arial, Helvetica, sans-serif;
}

.app-body h5 {
    font-weight: 600;
    margin: 0;
}

.nav-item button {
    background-color: #000;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0px 15px;
    float: right;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    width: fit-content;
    color: #fff;
}

.body-nav {
    padding: 20px;
    position: relative;
    top: -25%;
}

.body-nav .nav-item {
    width: 100%;
    height: 90px;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 20%);
    margin-bottom: 10px;
}

.body-nav .nav-item span {
    font-size: .8rem;
}


.body-nav .nav-item button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}

.body-nav .nav-item button span {
    font-size: 14px !important;
}

.body-nav .nav-item .btn-text {
    margin-left: 5px;
}

.body-nav .nav-item .nav-icon {
    position: relative;
    top: -2px;
}

.app-footer {
    height: 7%;
    border-radius: 0px 0px 7px 7px;
    font-family: cursive;
}

.app-footer span {
    font-size: .8rem;
    font-family: inherit;
}