.uk-card-small.uk-card-body {
    padding: 5px 8px;
    font-size: 13px;
}

.uk-border-remove {
    border: 0 none;
}

.uk-textarea {
    background: none !important;
    resize: none;
}

@keyframes dot-anim {
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -6px);
    }

    0% {
        transform: translate(0, 0);
    }
}

.etc i {
    width: 6px;
    height: 6px;
    background: #222;
    border-radius: 100%;
    display: inline-block;
    animation: dot-anim 1s infinite linear;
    transform: translate(0, 0);
}

.etc {
    display: block;
    position: relative;
}

.etc i+i {
    margin-left: 3px;
}

.etc i:nth-child(1) {
    animation-delay: .5s;
}

.etc i:nth-child(2) {
    animation-delay: .4s;
}

.etc i:nth-child(3) {
    animation-delay: .3s;
}

.uk-card {
    position: relative;
    z-index: 1;
}

.agent .uk-card:after, .me .uk-card:after {
    width: 10px;
    height: 45px;
    position: absolute;
    bottom: 0;
}

.agent .uk-card:after {
    background: #fff;
    left: -4px;
    clip-path: polygon(100% 70%, 0% 100%, 100% 100%);
}

.me .uk-card:after {
    background: #1e87f0;
    right: -4px;
    clip-path: polygon(0 70%, 0% 100%, 100% 100%);
}

.uk-flex {
    display: flex;
}

.uk-flex-1 {
    flex: 1;
}

.uk-icon-light {
    color:#ffffff !important;
}

.uk-icon-bg-light i {
    background-color:#ffffff !important;
}

.uk-font-light {
    color: #ffffff !important;
}

.uk-border-rounded-type1 {
    border-radius: 5px 5px 0px 5px;
}

.uk-border-rounded-type2 {
    border-radius: 5px 5px 5px 0px;
}

.uk-select-none {
    user-select: none;
    -moz-user-select: none;    
    -webkit-user-select: none;
}

.uk-time-p {
    color: #999;
    font-size: 9px;    
}

.uk-stick-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.app {
    position: fixed;
    bottom: 10px;
    right: 10px;   
    margin: 30px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-logo {    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: -30px;
    position: absolute;
    z-index: 999;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}

.app-logo img {
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
}

.app-cursor-pointer {
    cursor: pointer;
}

.app-icon {
    display: none;
}

.app-header {
    width: 0px;
    height: 40px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: width 0.5s;
}

.app-header-expand {
    width: 300px;
    height: 40px;
    transition: width 0.5s;
}

.app-header-container {
    margin-left: 30px;
}

.app-content {
    opacity: 0;
    height: 0;
    transition: 1s;
    transition-delay: 0.1s;
}

.app-content-show {
    opacity: 1;
    height: 500px;
    transition: 1s;    
    transition-delay: 0.1s;
}

.app-dropdown {
    padding: 15px;
    border-radius   : 5px;
}

.app-dropdown-desc {
    padding: 0px;
    font-size: 12px;
    color: #999;
}

.app-dropdown ul {
    display: inline-flex;
    margin: 0px;
    border: 0.5px solid #e5e5e5;
    border-radius: 7px;
    float: right;
}

.app-dropdown li {
    padding: 0px;
}

.app-dropdown-li-radius-left {
    font-size: 10px !important;
    padding: 5px 7px !important;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.app-dropdown-li-radius-right {
    font-size: 10px !important;
    padding: 5px 7px !important;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.app-icon-show {
    display: block !important;
}

.app-body {
    overflow-y: auto;
}

.uk-app-dark {
    background-color:rgb(58, 58, 58);
    color: #ffffff;
    transition: 0.5s;
}

.uk-app-light {
    background-color: #ffffff;
    color: #999 !important;
    transition: 0.5s;
}